﻿@model TennisManager.Models.BookingViewModel

@using (Ajax.BeginForm("BookingPayment", "Booking", new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "redirectToSale"
}, new { id = "BookingPayment", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x => Model.CustomerId, new { @id = "hiddenCustomerId" })

  


            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title text-center" style="background-color:lightblue;">
                            <i class="fa fa-user fa-2x" style="color:gray;"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title text-center" style="background-color:lightblue;">
                            <i class="fa fa-calendar fa-2x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title text-center blue-bg">
                            <i class="fa fa-money fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>

        <div class="ibox" style="margin-bottom:0;">
            <div class="ibox-title">
                <h5>3. Payment</h5>
                <div class="ibox-tools">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>
            <div class="ibox-content" style="min-height:45vh; overflow-x:hidden; overflow-y:auto">
                <div class="form-group">
                    @*<table id="tblOutstandingBalances" class="table table-striped">
                        <tr>
                            <th></th>
                            <th>
                                Type
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>

                        @for (int i = 0; i < Model.OrderList.Count(); i++)
                        {
                            <tr data-uid="@Model.OrderList[i].Id">

                                @if (Model.OrderList[i].Order.OrderType == Orders.OrderType.booking)
                                {
                                    <td>
                                        @Html.HiddenFor(m => m.OrderList[i].Id)
                                    </td>
                                    <td>
                                        <i class="fa fa-calendar"> </i> &nbsp;&nbsp;&nbsp; Booking
                                    </td>
                                        <td>
                                            @Model.OrderList[i].Order.Booking.BookingType.Name <br />
                                            @Model.OrderList[i].Order.Booking.Court.Facility.FullName <br />
                                            @Model.OrderList[i].Order.Booking.Court.Name <br />
                                            @Model.OrderList[i].Order.Booking.Start.ToString("D") <br />
                                            @Model.OrderList[i].Order.Booking.Start.ToShortTimeString() - @Model.OrderList[i].Order.Booking.End.ToShortTimeString() <br />
                                        </td>

                                        <td>
                                            @Model.OrderList[i].Order.Amount.ToString("C2")
                                        </td>
                                        <td>
                                            @Html.CheckBoxFor(modelItem => Model.OrderList[i].IsSelected, new { @class = "checkbox checkbox-success" })

                                        </td>
                                }
                                @if (Model.OrderList[i].Order.OrderType == Orders.OrderType.product)
                                {

                                }
                                @if (Model.OrderList[i].Order.OrderType == Orders.OrderType.registration)
                                {

                                }
                                @if (Model.OrderList[i].Order.OrderType == Orders.OrderType.credit)
                                {

                                }
                                @if (Model.OrderList[i].Order.OrderType == Orders.OrderType.membership)
                                {

                                }
                            </tr>
                        }
                    </table>*@
                </div>

                @*<div class="form-group">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary pull-right">Pay Now</button>
                        </div>
                    </div>
                </div>*@

            </div>


            <div class="ibox-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary pull-right">Pay Now</button>
            </div>

        </div>
    </div>



                }

