﻿@model TennisManager.Models.BookingViewModel

    <div class="row">
        <div class="col-md-4 col-xs-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title text-center blue-bg">
                    <i class="fa fa-user fa-2x"></i>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xs-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title text-center">
                    <i class="fa fa-calendar fa-2x"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title text-center">
                    <i class="fa fa-money fa-2x"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="ibox" style="margin-bottom:0;">
        <div class="ibox-title">
            <h5>1. Search for customer</h5>
            <div class="ibox-tools">
                <i class="fa fa-user"></i>
            </div>
        </div>
        <div class="ibox-content" style="height:50vh; overflow:auto;">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        @Html.TextBox("txtCustomerSearch", "", new { @class = "input form-control" })
                        <span class="input-group-btn">
                            <button type="button" class="btn btn btn-primary" onclick="customerSearch_click()"> <i class="fa fa-search"></i> Search</button>
                        </span>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div id="CustomerListContainer">
                    </div>
                </div>
            </div>

            <div id="UserIconContainer" class="text-center">
                <i class="fa fa-user" style="font-size:160px; color:#e5e6e7; padding-top:0.3em;"></i>
            </div>

        </div>
    </div>


