﻿@model TennisManager.Models.BookingViewModel

@{
    DateTime startTime = new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc).AddMilliseconds(Model.longStart);
    DateTime endTime = startTime.AddHours(1);
    DateTime minEndTime = startTime.AddMinutes(15);
}


    <div class="form-horizontal">


        <div class="row">
            <div class="col-md-4 col-xs-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title text-center" style="background-color:lightblue;">
                        <i class="fa fa-user fa-2x" style="color:gray;"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title text-center blue-bg">
                        <i class="fa fa-calendar fa-2x"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title text-center">
                        <i class="fa fa-money fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>






        <div class="ibox" style="margin-bottom:0;">
            <div class="ibox-title">
                <h5>2. Booking Details</h5>
                <div class="ibox-tools">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>
            <div class="ibox-content" style="min-height:45vh;">


                <div class="form-group">
                    @Html.Label("Customer", new { @class = "control-label col-md-4" })
                    <div class="col-md-7">
                        @*@Html.Label(Model.Customer.User.FirstName + " " + Model.Customer.User.LastName, new { @class = "control-label" })*@
                        @(Html.Kendo().TextBox()
                                .Name("txtCustomerName")
                                .Value(Model.Customer.User.FirstName + " " + Model.Customer.User.LastName)
                                .HtmlAttributes(new { style = "width:100%" })
                                .Enable(false)
                        )
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Booking Date", new { @class = "control-label col-md-4" })
                    <div class="col-md-7">
                        @(Html.Kendo().TextBox()
                                .Name("txtDate")
                                .Value(startTime.ToString("D"))
                                .HtmlAttributes(new { style = "width:100%" })
                                .Enable(false)
                        )
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BookingTypeId, new { @class = "control-label col-md-4" })
                    <div class="col-md-7">
                        @(Html.Kendo().DropDownListFor(m => m.BookingTypeId)
                                    .Name("BookingTypeId")
                                    .DataValueField("Id")
                                    .DataTextField("Name")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("BookingType_Read", "Customer");
                                        })
                                        .ServerFiltering(true);
                                    })
                                    .Events(e => e.Change("BookingType_change"))
                        )
                    </div>
                </div>

                <div id="RecurrenceGroup" class="form-group" style="display:none;">
                    @Html.Label("End After", new { @class = "control-label col-md-4" })
                    <div class="col-md-7">

                        <div class="row">

                            <div class="col-md-7 col-sm-7 col-xs-7">
                                @(Html.Kendo().NumericTextBoxFor(m => m.Occurrences)
                                        .Name("Occurrences")
                                        .Format("#")
                                        .Decimals(0)
                                        .Value(1)
                                        .Min(1)
                                        .Max(52)
                                        .HtmlAttributes(new { style = "width:100%;" })
                                        .Events(e => e.Change("occurences_changed").Spin("occurences_changed"))
                                )
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-5">
                                @Html.Label("occurences", new { @class = "control-label" })
                            </div>
                        </div>
                    </div>

                </div>

                <div id="CoachGroup" class="form-group" style="display:none;">
                    @Html.LabelFor(model => model.CoachId, new { @class = "control-label col-md-4" })
                    <div class="col-md-7">
                        @(Html.Kendo().DropDownListFor(m => m.CoachId)
                                    .Name("CoachId")
                                    .DataValueField("Id")
                                    .DataTextField("Name")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("Coaches_Read", "Booking");
                                        })
                                        .ServerFiltering(true);
                                    })
                        )
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Court(s)", new { @class = "control-label col-md-4" })
                    <div class="col-md-7">
                        @(Html.Kendo().MultiSelectFor(m => m.CourtIds)
                                .Name("CourtIds")
                                .DataTextField("Name")
                                .DataValueField("Id")
                                .ValuePrimitive(true)
                                .HighlightFirst(true)
                                .TagTemplateId("CourtTagTemplate")
                                .ItemTemplateId("CourtItemTemplate")
                                .Value(new[] { new { Id = Model.CourtId } })
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("Courts_Read", "Booking");
                                    })
                                    .ServerFiltering(true);
                                })
                                .Events(e => e.Change("courts_changed"))
                        )
                    </div>
                </div>



                <div class="form-group">
                    @Html.Label("Start Time", new { @class = "control-label col-md-4" })
                    <div class="col-md-7">
                        @(Html.Kendo().TimePickerFor(m => m.Start)
                                .Name("Start")
                                .Value(startTime)
                                .Enable(false)
                                .HtmlAttributes(new { style = "width:100%" })

                        )
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("End Time", new { @class = "control-label col-md-4" })
                    <div class="col-md-7">
                        @(Html.Kendo().TimePickerFor(m => m.End)
                                .Name("End")
                                .Value(endTime)
                                .Min(minEndTime)
                                .Max("11:30 PM")
                                .Interval(15)
                                .HtmlAttributes(new { style = "width:100%" })
                                .Events(e => e.Change("endtime_changed"))

                        )
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Number of players", new { @class = "control-label col-md-4" })
                    <div class="col-md-7">
                        @(Html.Kendo().DropDownListFor(model => model.NumberOfPlayers)
                                .Name("NumberOfPlayers")
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .ValuePrimitive(true)
                                .BindTo(new[] {
                                    new { Text = "One", Value = 1 },
                                    new { Text = "Two", Value = 2 },
                                    new { Text = "Three", Value = 3 },
                                    new { Text = "Four", Value = 4 },
                                    new { Text = "Five", Value = 5 },
                                    new { Text = "Six", Value = 6 },
                                    new { Text = "Seven", Value = 7 },
                                    new { Text = "Eight", Value = 8 },
                                    new { Text = "Nine", Value = 9 },
                                    new { Text = "Ten", Value = 10 }        })
                                .HtmlAttributes(new { style = "width:100%" })
                                .Value("2")
                        )
                    </div>
                </div>


                <div class="form-group">   
                    @Html.Label("Price", new { @class = "control-label col-md-4" })
                    <div class="col-md-7">
                        @(Html.Kendo().NumericTextBoxFor(model => model.Price)
                            .Name("Price")
                            .Format("c")
                            .HtmlAttributes(new { style = "width: 100%" })
                            .Enable(false)
                        )
                    </div>
                </div>

                @*<div class="form-group">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Close</button>
                            <button type="button" id="btnBookNow" class="btn btn-primary pull-right" onclick="btnBookNow_click()">Book Now!</button>
                        </div>
                    </div>
                </div>*@



            </div>

            <div class="ibox-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                <button type="button" id="btnBookNow" class="btn btn-primary pull-right" onclick="btnBookNow_click()">Book Now!</button>
            </div>

        </div>

    </div>
