﻿@model TennisManager.Models.BreadCrumbViewModel

<ol class="breadcrumb">
    <li>
        Class
    </li>
    <li>
        @Ajax.ActionLink("Tennis Active", "Hello", new AjaxOptions { HttpMethod = "GET" })
    </li>

    <li>
        @Ajax.ActionLink("Registrations", "Hello", new AjaxOptions { HttpMethod = "GET" })
    </li>
    <li class="active">
        <strong>Add Customer</strong>
    </li>
</ol>