﻿@*<div class="row">
    <div class="col-md-6 col-xs-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title text-center blue-bg">
                <h5>
                    <i class="fa fa-search"></i>&nbsp;&nbsp;Search
                </h5>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xs-6">
        <div class="ibox float-e-margins" style="text-align:center;">
            <div class="ibox-title">
                <h5>
                    <i class="fa fa-calendar"></i>&nbsp;&nbsp;Schedule
                </h5>
            </div>
        </div>
    </div>

</div>*@

<div class="ibox" style="margin-bottom:0;">
    <div class="ibox-title">
        <h5>1. Search for class</h5>
        <div class="ibox-tools">
            <i class="fa fa-users"></i>
        </div>
    </div>
    <div class="ibox-content" style="min-height:55vh;">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    @Html.TextBox("txtClassSearch", "", new { @class = "input form-control" })
                    <span class="input-group-btn">
                        <button type="button" class="btn btn btn-primary" onclick="classSearch_click()"> <i class="fa fa-search"></i> Search</button>
                    </span>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <div id="ClassListContainer">
                </div>
            </div>
        </div>

        <div id="UserIconContainer" class="text-center">
            <i class="fa fa-users" style="font-size:160px; color:#e5e6e7; padding-top:0.3em;"></i>
        </div>

    </div>
</div>
