﻿@using TennisManager.Models;
@model TennisManager.Models.BookingViewModel

<div class="animated fadeIn" style="overflow-y:auto; overflow-x:hidden; max-height:40vh">
    <div class="row">
        <div class="col-md-12">
            <table class="table">

                <tr class="gray-bg">
                    <th>Title</th>
                    <th>Coaches</th>
                    <th>Levels</th>
                    <th colspan="2" style="text-align:center;">Preferred Schedule</th>
                    <th>Action</th>
                </tr>

                @foreach (EventDisplayViewModel e in Model.EventCollection)
                {
                    <tr>
                        <td style="width:25%;">
                            <h4>@e.Title</h4>
                        </td>

                        <td>
                            @if (e.Coaches.Count() == 0)
                            {
                                <h5>No set coaches</h5>
                            }
                            else
                            {
                                foreach (var item in e.Coaches)
                                {
                                    <h5>@item.User.FirstName @item.User.LastName</h5>
                                }
                            }
                        </td>

                        <td>
                            @if (e.PlayerLevels.Count == 0)
                            {
                                <h5>No set levels</h5>
                            }
                            else
                            {
                                foreach (var level in e.PlayerLevels)
                                {
                                    <h5>@level.Name</h5>
                                }
                            }
                        </td>

                        <td style="text-align:center;">
                            @if (e.Days.Count() == 0)
                            {
                                <h5>No set schedule</h5>
                            }
                            else
                            {
                                
                                    foreach (var days in e.Days)
                                    {
                                        <h5>@days.Name</h5>
                                        }

                                       <h5> @e.StartTime.ToShortTimeString() - @e.EndTime.ToShortTimeString()</h5>
                                    }

                        </td>



                        <td style="vertical-align:middle">
                            @if (e.Courts.Count() == 0)
                            {
                                <h5>No set courts</h5>
                            }
                            else
                            {
                                foreach (var court in e.Courts)
                                {
                                    <h5>
                                        <span class="label" style="color:white; background-color:#@court.Facility.Colour;"><strong>@court.Facility.ShortName</strong></span>
                                        @court.Name
                                    </h5>
                                }
                            }
                        </td>


                        <td style="vertical-align:middle;">
                            <button type="button" class="btn btn-sm btn-primary" onclick="btnSelectClass_click(@e.Id, @e.BookingType.Id)"><i class="fa fa-plus"></i>&nbsp;&nbsp;Select</button>
                        </td>


                    </tr>
                }


            </table>
        </div>
    </div>
</div>

