﻿@model TennisManager.Models.EventViewModel

@if (Model.Waitlists.Count() == 0)
{
    <h2 style="text-align:center;">No customers in waitlist</h2>
}
else
{
        <table class="table">
            <tr class="gray-bg">
                <th>Name</th>
                <th style="text-align:center;">Action</th>

            </tr>

            @foreach (var waitlist in Model.Waitlists)
            {
                <tr>
                    <td>
                        @Ajax.ActionLink(waitlist.Customer.User.FirstName + " " + waitlist.Customer.User.LastName, "RenderPartial_CustomerProfile", new { customerId = waitlist.Customer.Id, isRegistration = false, eventBookingId = Model.EventBooking.Id }, new AjaxOptions
                        {
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "class-registration-container"
                        })
                    </td>

                    <td style="text-align:center;">
                        <button type="button" class="btn btn-warning btn-xs">Remove</button>
                    </td>

                </tr>
            }
        </table>
}

<div class="row">
    <div class="col-md-6">
        @Ajax.ActionLink("Waitlist Customer", "RenderPartial_WaitlistCustomer", new { eventBookingId = Model.EventBooking.Id }, new AjaxOptions
           {
               HttpMethod = "GET",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "class-registration-container"
           }, new { @class = "btn btn-primary", style = "width: 100%;" })
    </div>
    <div class="col-md-6">
        @Ajax.ActionLink("SMS Customer", "RenderPartial_SmsCustomer", new { eventBookingId = Model.EventBooking.Id, isRegistrations = false }, new AjaxOptions
   {
       HttpMethod = "GET",
       InsertionMode = InsertionMode.Replace,
       UpdateTargetId = "class-registration-container"
   }, new { @class = "btn", style = "width: 100%; color:white; background-color: #6f5499;" })
    </div>
</div> 