﻿@model TennisManager.Models.BookingViewModel

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Details</h5>

    </div>
    <div class="ibox-content" style="height:65vh; overflow:auto;">

        <table class="table table-bordered">
            <tr class="gray-bg">
                <th>Title</th>
            </tr>
            <tr>
                <td style="text-align:center;">@Html.DisplayFor(m => m.Event.Title)</td>
            </tr>
        </table>

        <table class="table table-bordered">
            <tr class="gray-bg">
                <th>Class Type</th>
            </tr>
            <tr>
                <td style="text-align:center;">@Html.DisplayFor(m => m.Event.BookingType.Name)</td>
            </tr>
        </table>

        <table class="table table-bordered">
            <tr class="gray-bg">
                <th>Coach(es)</th>
            </tr>
            <tr>
                <td style="text-align:center;">@Model.Event.strCoaches</td>
            </tr>
        </table>

        <table class="table table-bordered">
            <tr class="gray-bg">
                <th>Level</th>
            </tr>
            <tr>
                <td style="text-align:center;">@Model.Event.strLevels</td>
            </tr>
        </table>

        <table class="table table-bordered">
            <tr class="gray-bg">
                <th>Capacity</th>
            </tr>
            <tr>
                <td style="text-align:center;">
                    @if (Model.Event.isUnlimitedCapacity == true)
                    {
                        <text>Unlimited</text>
                    }
                    else
                    {
                        @Html.DisplayFor(m => m.Event.Capacity)

                    }
                </td>
            </tr>
        </table>

    </div>
</div>