﻿@model TennisManager.Models.EventViewModel

@using (Ajax.BeginForm("SaveClassDetails", "Booking", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "class-registration-container",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "classDetailsEdit_success"
}, new { id = "SaveProductInfoForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.HiddenFor(m => m.EventBooking.Id, new { id = "hiddenEventBookingId" })

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Edit Details for @Model.EventBooking.Date.ToString("D")</h5>
                <div class="ibox-tools">
                    @Ajax.ActionLink("Back to Registrations", "RenderPartial_ClassAttendees", new { eventBookingId = Model.EventBooking.Id }, new AjaxOptions
               {
                   HttpMethod = "GET",
                   InsertionMode = InsertionMode.Replace,
                   UpdateTargetId = "class-registration-container"
               }, new { @class = "btn btn-xs btn-primary" })
                </div>
            </div>
            <div class="ibox-content" style="height:58vh; overflow:auto;">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        @if (ViewBag.Result == "Success")
                        {
                            <div class="alert alert-success" style="margin-bottom:0;">
                                Changes have been sucessfully saved.
                            </div>
                        }

                        @if (ViewBag.Result == "Failed")
                        {
                            <div class="alert alert-danger" style="margin-bottom:0;">
                                Changes failed to save due to input errors<br />
                                @Html.ValidationSummary(true)
                            </div>
                        }
                        <hr />

                        <div class="form-group">
                            <div class="col-md-2">
                                <label>Title</label>
                            </div>
                            <div class="col-md-10">
                                @(Html.Kendo().TextBoxFor(m => m.EventBooking.Event.Title)
                                        .Name("EventBooking.Event.Title")
                                        .HtmlAttributes(new { style = "width:100%;" })
                                        .Enable(false)
                                )
                            </div>
                        </div>

                        <hr />

                        <div class="form-group">
                            <div class="col-md-2">
                                <label>Date</label>
                            </div>
                            <div class="col-md-10">
                                @(Html.Kendo().TextBox()
                                        .Name("txtDate")
                                        .Enable(false)
                                        .Value(Model.EventBooking.Date.ToString("D"))
                                        .HtmlAttributes(new { style = "width:100%;" })
                                )
                            </div>
                        </div>

                        <hr />

                        <div class="form-group">
                            <div class="col-md-2">
                                <label>Coach</label>
                            </div>
                            <div class="col-md-10">
                                @(Html.Kendo().MultiSelectFor(m => m.SelectedCoaches)
                                    .Name("SelectedCoaches")
                                    .DataValueField("Id")
                                    .DataTextField("Name")
                                    .Placeholder("Select coach/instructor(s)")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("Coaches_Read", "Booking");
                                        })
                                        .ServerFiltering(true);
                                    })
                                )
                            </div>
                        </div>

                        <hr />

                        <div class="form-group">
                            <div class="col-md-2">
                                <label>Level</label>
                            </div>
                            <div class="col-md-10">
                                @(Html.Kendo().MultiSelectFor(m => m.SelectedPlayerLevels)
                                    .Name("SelectedPlayerLevels")
                                    .DataValueField("Id")
                                    .DataTextField("Name")
                                    .Placeholder("Select skill level(s)")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("PlayerLevel_Read", "Booking");
                                        })
                                        .ServerFiltering(true);
                                    })
                                )
                            </div>
                        </div>

                        <hr />
                     
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label>Court(s):</label>
                                </div>
                                <div class="col-md-10">
                                    @(Html.Kendo().MultiSelectFor(m => m.SelectedCourts)
                                            .Name("SelectedCourts")
                                            .DataValueField("Id")
                                            .DataTextField("Name")
                                            .HighlightFirst(true)
                                            .TagTemplateId("CourtTagTemplate")
                                            .ItemTemplateId("CourtItemTemplate")
                                            .Placeholder("Select court(s)...")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("Courts_Read", "Booking");
                                                })
                                                .ServerFiltering(true);
                                            })
                                            .Events(e => e.Change("classcourts_changed").Open("classcourts_open"))
                                    )
                                    <small>** Remove a court by clicking on the <i class="fa fa-close"></i> symbol next to the court name </small>
                                    <br /><br />
                                    <button type="button" class="btn btn-sm btn-warning full-width" onclick="addcourt_clicked('@Model.EventBooking.Id', '@Model.EventBooking.Date.ToString("yyyy/MM/dd")')">
                                        <i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;Add Court
                                    </button>
                                </div>
                            </div>

                    </div>
                </div>

            </div>


            <div class="ibox-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" id="btn-save-details" class="btn btn-primary pull-right">Save</button>
                    </div>
                </div>
            </div>



        </div>
    </div>
}


