﻿@model TennisManager.Models.EventViewModel

@if (Model.Registrations.Count() == 0)
{
    <h2 style="text-align:center;">No Registrations</h2>
}
else
{
    <table class="table">
        <tr class="gray-bg">
            <th>Name</th>
            <th>Status</th>
            <th>Fee</th>
            <th style="text-align:center;">Action</th>

        </tr>

        @foreach (var registration in Model.Registrations)
        {
            <tr>
                <td>
                    @Ajax.ActionLink(registration.Customer.User.FirstName + " " + registration.Customer.User.LastName, "RenderPartial_CustomerProfile", new { customerId = registration.Customer.Id, isRegistration = true, eventBookingId = Model.EventBooking.Id }, new AjaxOptions
                   {
                       HttpMethod = "GET",
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "class-registration-container"
                   })
                </td>
                <td>
                    @if (registration.isPaid == true)
                    {
                        <text>Paid</text>
                    }
                    else
                    {
                        @Ajax.ActionLink("Not Paid", "RenderPartial_OutstandingBalance", new { customerId = registration.Customer.Id, orderItemId = registration.OrderItem.Id, eventBookingId = Model.EventBooking.Id }, new AjaxOptions
                       {
                           HttpMethod = "GET",
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "class-registration-container"
                       })
                    }
                </td>
                <td>
                    @registration.Fee.ToString("c")
                </td>
                <td style="text-align:center;">
                    <button type="button" class="btn btn-warning btn-xs">Remove</button>
                </td>

            </tr>
        }
    </table>

}
<div class="row">
    <div class="col-md-6">
        @Ajax.ActionLink("Register Customer", "RenderPartial_RegisterCustomer", new { eventBookingId = Model.EventBooking.Id }, new AjaxOptions
           {
               HttpMethod = "GET",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "class-registration-container",
               OnBegin = "registercustomer_begin(" + Model.EventBooking.Id + ")",
           }, new { @class = "btn btn-primary", style = "width: 100%;" })
    </div>
    <div class="col-md-6">
        @Ajax.ActionLink("SMS Customer", "RenderPartial_SmsCustomer", new { eventBookingId = Model.EventBooking.Id, isRegistrations = true }, new AjaxOptions
           {
               HttpMethod = "GET",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "class-registration-container"
           }, new { @class = "btn", style = "width: 100%; color:white; background-color: #6f5499;" })
    </div>
</div>