﻿@model TennisManager.Models.BookingViewModel

@{
    DateTime startTime = new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc).AddMilliseconds(Model.longStart);
    DateTime endTime = startTime.AddHours(1);
    DateTime minEndTime = startTime.AddMinutes(15);
}

@using (Ajax.BeginForm("ProcessClassDetails", "Booking", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "BookingContainer",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "ProcessClassDetailForm_success"
}, new { id = "ProcessClassDetailForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="row">
            <div class="col-md-6">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Class Details</h5>
                        <div class="ibox-tools">
                            <i class="fa fa-book"></i>
                        </div>
                    </div>
                    <div class="ibox-content">


                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label>Class Title</label>
                                </div>
                                <div class="col-md-8">
                                    <text>@Model.Event.Title</text>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label>Class Type</label>
                                </div>
                                <div class="col-md-8">
                                    <text>@Model.Event.BookingType.Name</text>
                                </div>
                            </div>
                        </div>
                        <br />




                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label>Coach</label>
                                </div>
                                <div class="col-md-8">
                                    @if (Model.Event.Coaches.Count() == 0)
                                    {
                                        <text>No set coaches</text>
                                    }
                                    else
                                    {
                                        foreach (var item in Model.Event.Coaches)
                                        {
                                            <text>@item.User.FirstName @item.User.LastName</text>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label>Level</label>
                                </div>
                                <div class="col-md-8">
                                    @if (Model.Event.PlayerLevels.Count == 0)
                                    {
                                        <text>No set levels</text>
                                    }
                                    else
                                    {
                                        foreach (var level in Model.Event.PlayerLevels)
                                        {
                                            <text>@level.Name</text>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label>Capacity</label>
                                </div>
                                <div class="col-md-8">

                                    @if (Model.Event.isUnlimitedCapacity == true)
                                    {
                                        <text>Unlimited</text>
                                    }
                                    else
                                    {
                                        <text>@Model.Event.Capacity</text>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ibox" style="margin-bottom:0;">
                    <div class="ibox-title">
                        <h5>Preferred Schedule</h5>
                        <div class="ibox-tools">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label>Courts</label>
                                </div>
                                <div class="col-md-8">
                                    @if (Model.Event.Courts.Count() == 0)
                                    {
                                        <h5>No set courts</h5>
                                    }
                                    else
                                    {
                                        foreach (var court in Model.Event.Courts)
                                        {
                                            <h5>
                                                <span class="label" style="color:white; background-color:#@court.Facility.Colour;"><strong>@court.Facility.ShortName</strong></span>
                                                @court.Name
                                            </h5>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <br />



                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <label>Day & Time</label>
                                </div>
                                <div class="col-md-8">
                                    @if (Model.Event.Days.Count() == 0)
                                    {
                                        <h5>No set schedule</h5>
                                    }
                                    else
                                    {

                                        foreach (var days in Model.Event.Days)
                                        {
                                            <h5>@days.Name</h5>
                                        }

                                        <h5> @Model.Event.StartTime.ToShortTimeString() - @Model.Event.EndTime.ToShortTimeString()</h5>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>






            </div>

            <div class="col-md-6">
                <div class="ibox" style="margin-bottom:0;">
                    <div class="ibox-title">
                        <h5>1. Class Booking</h5>
                        <div class="ibox-tools">
                            <i class="fa fa-pencil"></i>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="form-group">
                            @Html.Label("Booking Date", new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @(Html.Kendo().TextBox()
                                .Name("txtDate")
                                .Value(startTime.ToString("D"))
                                .HtmlAttributes(new { style = "width:100%" })
                                .Enable(false)
                                )
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Court(s)", new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @(Html.Kendo().MultiSelectFor(m => m.SelectedCourts)
                                .Name("SelectedCourts")
                                .DataTextField("Name")
                                .DataValueField("Id")
                                .ValuePrimitive(true)
                                .HighlightFirst(true)
                                .TagTemplateId("CourtTagTemplate")
                                .ItemTemplateId("CourtItemTemplate")
                                .Value(new[] { new { Id = Model.CourtId } })
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("Courts_Read", "Booking");
                                    })
                                    .ServerFiltering(true);
                                })
                                .Events(e => e.Change("classcourts_changed"))
                                )
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Start Time", new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @(Html.Kendo().TimePickerFor(m => m.Start)
                                .Name("Start")
                                .Value(startTime)
                                .Enable(false)
                                .HtmlAttributes(new { style = "width:100%" })

                                )
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("End Time", new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @(Html.Kendo().TimePickerFor(m => m.End)
                                .Name("End")
                                .Value(endTime)
                                .Min(minEndTime)
                                .Max("11:30 PM")
                                .Interval(15)
                                .HtmlAttributes(new { style = "width:100%" })
                                .Events(e => e.Change("classendtime_changed"))

                                )
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Recurrence", new { @class = "control-label col-md-4" })
                            <div class="col-md-7">
                                @(Html.Kendo().DropDownList()
                                      .Name("Recurrence")
                                      .DataTextField("Text")
                                      .DataValueField("Value")
                                      .Events(e => e.Change("classrecurrence_changed"))
                                      .BindTo(new List<SelectListItem>() {
                                          new SelectListItem() {
                                              Text = "Single Booking",
                                              Value = "1"
                                          },
                                          new SelectListItem() {
                                              Text = "Recurring Weekly",
                                              Value = "2"
                                          }
                                      })
                                      .Value("1")
                                      .HtmlAttributes(new { style = "width: 100%" })
                                )
                            </div>
                        </div>


                        <div id="RecurrenceGroup" class="form-group" style="display:none;">
                            @Html.Label("End After", new { @class = "control-label col-md-4" })
                            <div class="col-md-7">

                                <div class="row">

                                    <div class="col-md-7 col-sm-7 col-xs-7">
                                        @(Html.Kendo().NumericTextBoxFor(m => m.Occurrences)
                                        .Name("Occurrences")
                                        .Format("#")
                                        .Decimals(0)
                                        .Value(1)
                                        .Min(1)
                                        .Max(52)
                                        .HtmlAttributes(new { style = "width:100%;" })
                                        //.Events(e => e.Change("occurences_changed").Spin("occurences_changed"))
                                        )
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-xs-5">
                                        @Html.Label("occurences", new { @class = "control-label" })
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="ibox-footer">
                        <button type="button" class="btn btn-warning">Cancel</button>
                        <button id="btnBookClass" type="button" class="btn btn-primary pull-right" onclick="btnClassBookNow_click()">Book Now</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
}