﻿
@model TennisManager.Models.EventViewModel

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Bookings</h5>
        <div class="ibox-tools">
            <button type="button" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="right" title="class bookings will show in 3 month periods and programs will be shown by term">
                <i class="fa fa-info"></i>
            </button>
        </div>

    </div>
    <div id="class-booking-content" class="ibox-content" style="height:65vh; overflow:auto;">
   
        <ul class="list-group elements-list">
            @for (int i = 0; i < Model.EventBookings.Count(); i++)
            {
                if (Model.EventBookings[i].IsSelected == true)
                {
                    @Html.Hidden("hiddenEventBookingId", Model.EventBookings[i].Id)

                    <li class="list-group-item active">
                        <a class="active" onclick="classbooking_click(@Model.EventBookings[i].Id)" data-toggle="tab" href="#">
                            
                            <h3 style="text-align:center;"><i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;@Model.EventBookings[i].Date.ToString("D")</h3>



                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1 col-md-12">
                                    <div class="col-lg-3 col-md-4">
                                        <label>Court:</label>
                                    </div>
                                    <div class="col-lg-9 col-md-8">
                                        @foreach (var item in Model.EventBookings[i].Bookings)
                                        {
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <text>
                                                        <span class="badge" style="color:white; background-color:#@item.Court.Facility.Colour;"><strong>@item.Court.Facility.ShortName</strong></span>
                                                         @item.Court.Name
                                                        &nbsp;
                                                    </text>
                                                    <small class="hidden-md">(@item.Start.ToShortTimeString()-@item.End.ToShortTimeString())</small>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1 col-md-12">
                                    <div class="col-lg-3 col-md-4">
                                        <label>Coach:</label>
                                    </div>
                                    <div class="col-lg-9 col-md-8">
                                        @if (Model.EventBookings[i].Coaches.Count() == 0)
                                        {
                                            <text>No set coaches</text>
                                        }
                                        else
                                        {
                                            foreach (var coach in Model.EventBookings[i].Coaches)
                                            {
                                                <text>@coach.User.FirstName @coach.User.LastName</text><br />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1 col-md-12">
                                    <div class="col-lg-3 col-md-4">
                                        <label>Level:</label>
                                    </div>
                                    <div class="col-lg-9 col-md-8">
                                        @if (Model.EventBookings[i].PlayerLevels.Count() == 0)
                                        {
                                            <text>No set levels</text>
                                        }
                                        else
                                        {
                                            foreach (var level in Model.EventBookings[i].PlayerLevels)
                                            {
                                                <text>@level.Name</text><br />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>

                            @if (Model.EventBookings[i].HasCapacity == true)
                            {

                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1 col-md-12">
                                        <div class="col-lg-3 col-md-4">
                                            <label>Capacity:</label>
                                        </div>
                                        <div class="col-lg-9 col-md-8">
                                            @Model.EventBookings[i].CapacityCount / @Model.EventBookings[i].Capacity
                                        </div>
                                    </div>
                                </div>
                            }
                        </a>

                    </li>
                }
                else
                {
                    <li class="list-group-item">
                        <a onclick="classbooking_click(@Model.EventBookings[i].Id)" data-toggle="tab" href="#">
                            <h3 style="text-align:center;"><i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;@Model.EventBookings[i].Date.ToString("D")</h3>

                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1 col-md-12">
                                    <div class="col-lg-3 col-md-4">
                                        <label>Court:</label>
                                    </div>
                                    <div class="col-lg-9 col-md-8">
                                        @foreach (var item in Model.EventBookings[i].Bookings)
                                        {
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <text>
                                                        <span class="badge" style="color:white; background-color:#@item.Court.Facility.Colour;"><strong>@item.Court.Facility.ShortName</strong></span>
                                                         @item.Court.Name
                                                        &nbsp;
                                                    </text>
                                                    <small class="hidden-md">
                                                        (@item.Start.ToShortTimeString() - @item.End.ToShortTimeString())
                                                    </small>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1 col-md-12">
                                    <div class="col-lg-3 col-md-4">
                                        <label>Coach:</label>
                                    </div>
                                    <div class="col-lg-9 col-md-8">
                                        @if (Model.EventBookings[i].Coaches.Count() == 0)
                                        {
                                            <text>No set coaches</text>
                                        }
                                        else
                                        {
                                            foreach (var coach in Model.EventBookings[i].Coaches)
                                            {
                                                <text>@coach.User.FirstName @coach.User.LastName</text><br />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1 col-md-12">
                                    <div class="col-lg-3 col-md-4">
                                        <label>Level:</label>
                                    </div>
                                    <div class="col-lg-9 col-md-8">
                                        @if (Model.EventBookings[i].PlayerLevels.Count() == 0)
                                        {
                                            <text>No set levels</text>
                                        }
                                        else
                                        {
                                            foreach (var level in Model.EventBookings[i].PlayerLevels)
                                            {
                                                <text>@level.Name</text><br />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            



                            @if (Model.EventBookings[i].HasCapacity == true)
                            {

                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1 col-md-12">
                                        <div class="col-lg-3 col-md-4">
                                            <label>Capacity:</label>
                                        </div>
                                        <div class="col-lg-9 col-md-8">
                                            @Model.EventBookings[i].CapacityCount / @Model.EventBookings[i].Capacity
                                        </div>
                                    </div>
                                </div>
                            }
                        </a>

                    </li>
                }
            }
        </ul>







    </div>
</div>
