﻿@using TennisManager.Models;
@model TennisManager.Models.BookingViewModel

<div class="animated fadeIn" style="overflow-y:auto; overflow-x:hidden; min-height:35vh">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr class="gray-bg">
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                @foreach (CustomerDisplayiewModel customer in Model.CustomerCollection)
                {
                    <tr>
                        <td style="vertical-align:middle">@customer.Name</td>
                        <td style="vertical-align:middle">@customer.Phone</td>
                        <td style="vertical-align:middle">@customer.Email</td>
                        <td style="vertical-align:middle"><button type="button" class="btn btn-sm btn-primary" onclick="btnCustomer_click(@customer.Id)"><i class="fa fa-plus"></i>&nbsp;&nbsp;Select</button></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
