﻿@model TennisManager.Models.SmsViewModel

@using (Ajax.BeginForm("SendSms", "Booking", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "class-registration-container",
    InsertionMode = InsertionMode.Replace,
    OnComplete = "smscustomer_complete",
    OnSuccess = "smscustomer_success",
    OnBegin = "smscustomer_begin"
}, new { id = "sms-customer-form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">

        @Html.HiddenFor(m => m.Title)
        @Html.HiddenFor(m => m.Reference)
        @Html.HiddenFor(m => m.IsRegistrations)

        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Send Sms for @Model.Title</h5>
                        <div class="ibox-tools">
                            @if (Model.IsRegistrations)
                            {
                                @Ajax.ActionLink("Back to Registrations", "RenderPartial_ClassAttendees", new { eventBookingId = Model.Reference }, new AjaxOptions
                                    {
                                        HttpMethod = "GET",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "class-registration-container"
                                    }, new { @class = "btn btn-xs btn-primary" })
                            }
                            else
                            {
                                @Ajax.ActionLink("Back to Waitlist", "RenderPartial_ClassAttendees", new { eventBookingId = Model.Reference }, new AjaxOptions
                                    {
                                        HttpMethod = "GET",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "class-registration-container",
                                        OnComplete = "BackToWaitlist"
                                    }, new { @class = "btn btn-xs btn-primary" })
                            }
              
                        </div>

                    </div>

                    <div class="ibox-content" style="height:58vh; overflow:auto;">
                        @if (ViewBag.Result == "Failed")
                        {
                            <div class="alert alert-danger">
                                Input Error<br />
                                @Html.ValidationSummary(true)
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <table class="table">
                                    <tr class="gray-bg">
                                        <th colspan="4" style="text-align:center;">Recipients</th>

                                    </tr>
                                    @for (int i = 0; i < Model.Recipients.Count(); i++)
                                    {
                                        <tr style="border-bottom:1px solid #e7eaec;">
                                            <td>
                                                @Html.HiddenFor(m => m.Recipients[i].CustomerId)
                                                @Html.HiddenFor(m => m.Recipients[i].Destination)
                                            </td>
                                            <td>
                                                @Model.Recipients[i].Customer.User.FirstName @Model.Recipients[i].Customer.User.LastName
                                            </td>
                                            <td>
                                                @Model.Recipients[i].Customer.User.PhoneNumber
                                            </td>

                                            @if (Model.Recipients[i].Destination == "")
                                            {
                                                <td style="text-align:center;">
                                                    Invalid number
                                                </td>
                                            }
                                            else
                                            {
                                                <td style="text-align:center;">
                                                    @Html.CheckBoxFor(modelItem => Model.Recipients[i].IsSelected, new { customerId = Model.Recipients[i].Customer.Id })
                                                </td>
                                            }
                                        </tr>

                                    }
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <label>Message</label>
                                @Html.TextAreaFor(m => m.Body, new { @class = "form-control", style = "resize: vertical", id = "message-text-area", maxlength = "160", rows = "6" })
                                <div id="text-counter">160 characters remaining</div>
                            </div>
                        </div>

                    </div>

                    <div class="ibox-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" id="btn-send-sms" class="btn btn-primary pull-right">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}