﻿@model TennisManager.Models.BookingViewModel

    @using (Ajax.BeginForm("PayBooking", "Booking", new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "redirectToSale"
    }, new { id = "PayBooking", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(x => Model.CustomerId, new { @id = "hiddenCustomerId" })
            @Html.HiddenFor(x => Model.Id, new { @id = "hiddenBookingId" })


                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Customer Details</h5>
                        <div class="ibox-tools">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-md-8 col-lg-offset-2">
                                <div class="col-md-6 col-xs-6">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    @Html.DisplayFor(m => m.Customer.User.FirstName) @Html.DisplayFor(m => m.Customer.User.LastName)
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-8 col-lg-offset-2">
                                <div class="col-md-6 col-xs-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    @Html.DisplayFor(m => m.Customer.User.Email)
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 col-lg-offset-2">
                                <div class="col-md-6 col-xs-6">
                                    <label>Mobile</label>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    @Html.DisplayFor(m => m.Customer.User.PhoneNumber)
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 col-lg-offset-2">
                                <div class="col-md-6 col-xs-6">
                                    <label>Access Code</label>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    @Html.DisplayFor(m => m.Customer.User.Pin)
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 col-lg-offset-2">
                                <div class="col-md-6 col-xs-6">
                                    <label>Membership</label>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    @if (Model.Customer.isMember == true)
                                    {
                                        @Html.DisplayFor(m => m.Member.MembershipType.Name)
                                    }
                            </div>
                            </div>
                        </div>

                    </div>
                </div>



                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Booking Information</h5>
                        <div class="ibox-tools">
                            <i class="fa fa-book"></i>
                        </div>
                    </div>
                    <div class="ibox-content">


                        <div class="row">
                            <div class="col-md-8 col-lg-offset-2">
                                <div class="col-md-6 col-xs-6">
                                    <label>Booking Type</label>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    @Html.DisplayFor(m => m.BookingType.Name)
                                </div>
                            </div>
                        </div>
                        @if (Model.BookingType.Id == 3)
                        {
                            <div class="row">
                                <div class="col-md-8 col-lg-offset-2">
                                    <div class="col-md-6 col-xs-6">
                                        <label>Coach</label>
                                    </div>
                                    <div class="col-md-6 col-xs-6">
                                        @Html.DisplayFor(m => m.Coach.User.FirstName) @Html.DisplayFor(m => m.Coach.User.LastName)
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-8 col-lg-offset-2">
                                <div class="col-md-6 col-xs-6">
                                    <label>Status</label>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    @if (Model.isPaid == true)
                                    {
                                        <text>Paid</text>
                                    }

                                    @if (Model.isPaid == false)
                                    {
                                        <text>Not Paid</text>

                                    }
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 col-lg-offset-2">
                                <div class="col-md-6 col-xs-6">
                                    <label>Price</label>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    @Html.DisplayFor(m => m.Price)
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-xs-6 col-md-offset-3 col-xs-offset-3">

                                @*change to ajax action*@

                                @*@Ajax.ActionLink("View accounts", "RenderPartial_ViewOutstandingBalance", null, new AjaxOptions { UpdateTargetId = "BookingContainer", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-sm btn-default" })*@

                                <button type="button" class="btn btn-sm btn-default" onclick="showOutstandingBalances(@Model.Customer.Id, @Model.Id)">
                                    <i class="fa fa-mail-forward"></i>&nbsp;&nbsp;
                                    View accounts
                                </button>
                            </div>
                        </div>

                    </div>
                </div>



                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Booking Details</h5>
                        <div class="ibox-tools">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-md-8 col-lg-offset-2">
                                <div class="col-md-6 col-xs-6">
                                    <label>Date</label>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <text>@Model.strDate</text>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 col-lg-offset-2">
                                <div class="col-md-6 col-xs-6">
                                    <label>Time</label>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <text>@Model.strStart - @Model.strEnd</text>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 col-lg-offset-2">
                                <div class="col-md-6 col-xs-6">
                                    <label>Location</label>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    <text>@Model.Court.Facility.FullName @Model.Court.Name</text>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 col-lg-offset-2">
                                <div class="col-md-6 col-xs-6">
                                    <label>Number of players</label>
                                </div>
                                <div class="col-md-6 col-xs-6">
                                    @Html.DisplayFor(m => m.NumberOfPlayers)
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="ibox" style="margin-bottom:0;">
                    <div class="ibox-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-danger pull-left" onclick="CancelBooking(@Model.Id)">Cancel this booking</button>
                                <button type="button" class="btn btn-warning pull-right" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                 </div>
            
            </div>

       
        @*</div>*@
    }
