﻿@model TennisManager.Models.BookingViewModel


@using (Ajax.BeginForm("PayBooking", "Booking", new AjaxOptions
{
    HttpMethod = "POST",
    OnSuccess = "redirectToSale"
}, new { id = "PayBooking", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x => Model.CustomerId, new { @id = "hiddenCustomerId" })

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Outstanding Balances</h5>
                    <div class="ibox-tools">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>
                <div class="ibox-content" style="height:55vh; overflow:auto">
                    <div class="form-group">
                        <table id="tblOutstandingBalances" class="table table-striped">
                            <tr>
                                <th></th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>

                            @for (int i = 0; i < Model.OrderList.Count(); i++)
                            {
                                <tr data-uid="@Model.OrderList[i].Id">
                                    <td>Hello</td>
                                    @*@if (Model.OrderList[i].Order.OrderType == Orders.OrderType.booking)
                                    {
                                        <td>
                                            @Html.HiddenFor(m => m.OrderList[i].Order.Id)
                                        </td>
                                        <td>
                                            <i class="fa fa-calendar"> </i> &nbsp;&nbsp;&nbsp; Booking
                                        </td>
                                        <td>
                                            @Model.OrderList[i].Order.Booking.BookingType.Name <br />
                                            @Model.OrderList[i].Order.Booking.Court.Facility.FullName <br />
                                            @Model.OrderList[i].Order.Booking.Court.Name <br />
                                            @Model.OrderList[i].Order.Booking.Start.ToString("D") <br />
                                            @Model.OrderList[i].Order.Booking.Start.ToShortTimeString() - @Model.OrderList[i].Order.Booking.End.ToShortTimeString() <br />
                                        </td>

                                        <td>
                                            @Model.OrderList[i].Order.Booking.Price.ToString("C2")
                                        </td>
                                        <td>
                                            @Html.CheckBoxFor(modelItem => Model.OrderList[i].IsSelected, new { @class = "checkbox checkbox-success" })

                                        </td>
                                    }
                                    @if (Model.OrderList[i].OrderType == Orders.OrderType.product)
                                    {

                                    }
                                    @if (Model.OrderList[i].OrderType == Orders.OrderType.registration)
                                    {
                                        <td>
                                            @Html.HiddenFor(m => m.OrderList[i].Id)
                                        </td>
                                        <td style="vertical-align:middle;">
                                            <i class="fa fa-users"> </i> &nbsp;&nbsp;&nbsp; Registration
                                        </td>
                                        <td>
                                            @Model.OrderList[i].Order.Registration.EventBooking.Event.Title <br />
                                            @Model.OrderList[i].Order.Registration.EventBooking.Date.ToString("D") <br />
                                        </td>

                                        <td>
                                            @Model.OrderList[i].Order.Registration.Fee.ToString("C2")
                                        </td>
                                        <td>
                                            @Html.CheckBoxFor(modelItem => Model.OrderList[i].IsSelected, new { @class = "checkbox checkbox-success" })

                                        </td>
                                    }
                                    @if (Model.OrderList[i].OrderType == Orders.OrderType.credit)
                                    {

                                    }
                                    @if (Model.OrderList[i].OrderType == Orders.OrderType.membership)
                                    {

                                    }*@
                        
                                </tr>
                            }
                        </table>

                    </div>



                </div>

            </div>

        <div class="ibox" style="margin-bottom:0;">
            <div class="ibox-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-warning pull-left" onclick="OutstandingBalance_back()">Back</button>
                        <button type="submit" class="btn btn-primary pull-right">Pay</button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
}
