﻿@using Microsoft.AspNet.Identity;
@using Clubs;
@using Users;
@using Kendo.Mvc.UI.Fluent;
@using Microsoft.AspNet.SignalR;

@{
    ViewBag.Title = "Index";

    //User user = ViewBag.User;
    //IEnumerable<Facility> facilityList = ViewBag.Facilities;
    IEnumerable<Court> courtList = ViewBag.Courts;
    TimeSpan info = TimeZoneInfo.Local.GetUtcOffset(DateTime.UtcNow);
    double offset = info.TotalHours;
    var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
}

@section Scripts {
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("/signalr/hubs")
}

@section Styles {
    <link href="@Url.Content("~/Content/mjenta/scheduler.css")" rel="stylesheet" type="text/css" />
}

<script>
    var lockedRecords = {};
    var bookingHub = {};
    var hubStart = {};
    $(function () {
        bookingHub = $.connection.bookingHub;

        bookingHub.client.lockRecord = function (record) {
            debugger;
            lockedRecords[record.id] = true;
        };

        bookingHub.client.unlockRecord = function (record) {
            debugger;
            lockedRecords[record.id] = false;
        }

        hubStart = $.connection.hub.start();

        $.connection.hub.error(function (error) {
            console.log('SignalR error: ' + error)
        });
    })
</script>

@Html.Hidden("hiddenCustomerId")
@Html.Hidden("hiddenCourtId")
@Html.Hidden("hiddenStart")
@Html.Hidden("hiddenEnd")
@Html.Hidden("hiddenDate")
@Html.Hidden("hiddenOffset")
@Html.Hidden("hiddenEventId")
@Html.Hidden("hiddenBookingTypeId")
@Html.Hidden("hiddenSearchOption")
@Html.Hidden("hiddenBookingId")
@Html.Hidden("hiddenAddCourt", 0)
@Html.Hidden("hiddenEventBookingId")

<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div id="add-court-container"></div>

            @if (Request.Browser.IsMobileDevice == false)
            {

            @(Html.Kendo().Scheduler<TennisManager.Models.BookingViewModel>()
            .Name("BookingScheduler")
            .Date(DateTime.Now)
            .Timezone("Etc/UTC")
            .StartTime(6, 00, 00)
            .EndTime(23, 00, 00)
            .WorkDayStart(6, 00, 00)
            .WorkDayEnd(23, 00, 00)
            .WorkWeekStart(0)
            .WorkWeekEnd(6)
            .Mobile(MobileMode.Disabled)
            .AllDaySlot(false)
            .Selectable(true)
            .DateHeaderTemplateId("DateHeader")
            .Messages(events => events.Editor(editor => editor.EditorTitle(" ")))
            .Editable(e => e.Destroy(false))
            .CurrentTimeMarker(true)
            .Resources(resource =>
            {
                resource.Add(t => t.BookingStatusId)
                   .Title("BookingStatus")
                   .Multiple(false)
                   .DataTextField("Name")
                   .ValuePrimitive(true)
                   .DataValueField("Id")
                   .DataColorField("Colour")
                   .DataSource(ds => ds.Read("BookingStatus_Read", "Booking"));

                resource.Add(t => t.CourtId)
                  .Title("Court")
                  .Multiple(false)
                  .DataTextField("Name")
                  .ValuePrimitive(true)
                  .DataValueField("Id")
                  .DataColorField("Colour")
                  .BindTo(courtList);


            })
              .Group(group => group.Resources("CourtId"))
              .Views(views => views.DayView(view => view.GroupHeaderTemplateId("DayViewHeader")
                                    .ShowWorkHours()
                                    .MajorTick(30)
                                    .Footer(false))
                    )
            .Events(e =>
            {
                e.DataBound("scheduler_databound");
                e.Edit("scheduler_edit");
                e.Navigate("scheduler_navigate");
                e.Change("scheduler_change");
                e.Move("scheduler_move");
                e.MoveStart("scheduler_moveStart");
                e.MoveEnd("scheduler_moveEnd");
                e.Resize("scheduler_resize");
                e.ResizeStart("scheduler_resizeStart");
                e.ResizeEnd("scheduler_resizeEnd");
                e.Save("scheduler_save");
                e.Add("scheduler_add");
                e.Remove("scheduler_remove");
            })
        .DataSource(datasource => datasource
               .SignalR()
            .AutoSync(false)
            
            //.ServerFiltering(true)
            //.ServerPaging(true)
            .Events(e => e.Sync("scheduler_sync"))
            .Transport(tr => tr
                .Promise("hubStart")
                .Hub("bookingHub")
                .Client(c => c
                    .Read("read")
                    .Create("create")
                    .Update("update")
                    .Destroy("destroy")
                )
                .Server(s => s
                        .Read("read")
                        .Create("create")
                        .Update("update")
                        .Destroy("destroy")
                        )
                    )
            .Schema(schema => schema

                .Model(model =>
                {
                    model.Id(m => m.Id);
                    model.Field("start", typeof(DateTime)).From("Start");
                    model.Field("end", typeof(DateTime)).From("End");
                    model.Field("title", typeof(string)).From("Title");
                    model.Field("description", typeof(string)).From("Description");
                    model.Field("recurrenceID", typeof(int)).From("Recurrence");
                    model.Field("recurrenceRule", typeof(string)).From("RecurrenceRule");
                    model.Field("recurrenceException", typeof(string)).From("RecurrenceException");
                    model.Field("isAllDay", typeof(bool)).From("IsAllDay");
                    model.Field("startTimezone", typeof(string)).From("StartTimezone");
                    model.Field("endTimezone", typeof(string)).From("EndTimezone");
                }))
                )

                )}

            <script id="DayViewHeader" type="text/kendo-tmpl">
                <div style="text-align:center">
                    <span class="badge" style='color:white; background-color:#=GetFacilityColour(color)#'><strong>&nbsp;&nbsp;#=GetFacilityName(color)#&nbsp;&nbsp;</strong></span>

                </div>
                <div style="text-align:center">#=text#</div>

            </script>

            <script id="DateHeader" type="text/kendo-tmpl">
            </script>

            <script id="CourtTagTemplate" type="text/kendo-tmpl">
                <label class="btn-xs btn" style='color:white; background-color:#=GetFacilityColour(Colour)#; margin-bottom:1px;'><strong>#=GetFacilityName(Colour)#</strong></label>&nbsp;&nbsp;#=Name#
            </script>

            <script id="CourtItemTemplate" type="text/kendo-tmpl">
                <label class="btn-xs btn" style='color:white; background-color:#=GetFacilityColour(Colour)#; margin-bottom:1px;'><strong>#=GetFacilityName(Colour)#</strong></label>&nbsp;&nbsp;#=Name#
            </script>

        </div>
    </div>
</div>

<div id="BookingModal" class="modal animated fadeIn bs-example-modal" role="dialog" aria-labelledby="myLargeModalLabel">

    <div class="modal-dialog" gray-bg>
        <div class="modal-content" gray-bg>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title text-center">Create</h2>
            </div>

            <div class="modal-body gray-bg" style="min-height:65vh;">
                <div id="BookingContainer"></div>

            </div>

        </div>
    </div>

</div>


<div id="ClassModal" class="modal inmodal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Create</h4>
            </div>
            <div class="modal-body">
                <div id="ClassContainer"></div>
            </div>
        </div>
    </div>
</div>

<div id="ViewClassModal" class="modal inmodal" role="dialog">
    <div class="modal-dialog modal-lg modal-xl">
        <div id="class-modal-content" class="modal-content animated fadeIn">
            <div id="ViewClassContainer"></div>
        </div>
    </div>
</div>

<div id="ViewBookingModal" class="modal animated fadeIn bs-example-modal" role="dialog" aria-labelledby="myLargeModalLabel">

    <div class="modal-dialog" gray-bg>
        <div class="modal-content" gray-bg>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title text-center">Booking</h2>
            </div>

            <div class="modal-body gray-bg" style="min-height:75vh;">
                <div id="ViewBookingContainer"></div>
                <div id="BalancesContainer"></div>
                <div id="CancelContainer"></div>
            </div>

        </div>
    </div>
</div>


<div id="AddCourtModal" class="modal inmodal" role="dialog">
    <div class="modal-dialog">
        <div id="class-modal-content" class="modal-content animated fadeIn">
            <div id="AddCourtContainer"></div>
        </div>
    </div>
</div>








<script src="@Url.Content("~/Scripts/cultures/kendo.culture." + culture + ".min.js")"></script>
<script src="@Url.Content("~/Scripts/mjenta/schedulerservice.js")"></script>
<script src="@Url.Content("~/Scripts/mjenta/clubservice.js")"></script>
<script src="@Url.Content("~/Scripts/mjenta/booking.js")"></script>
<script src="@Url.Content("~/Scripts/mjenta/classbooking.js")"></script>
<script src="@Url.Content("~/Scripts/mjenta/bookingspecification.js")"></script>
<script src="@Url.Content("~/Scripts/mjenta/addcourt.js")"></script>
<script src="@Url.Content("~/Scripts/mjenta/restrictions.js")"></script>
<script src="@Url.Content("~/Scripts/topnav.js")"></script>
<script src="@Url.Content("~/Scripts/plugins/scrollto/jquery-scrollto.js")"></script>

