﻿<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a href="#" class="navbar-brand">City Community Tennis</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="active text-center">
                    <a aria-expanded="false" role="button" href="@Url.Action("Index", "Home")"> <i class="fa fa-calendar"></i> Bookings</a>
                </li>
                <li class="active text-center">
                    <a aria-expanded="false" role="button" href="@Url.Action("Index", "Home")"> <i class="fa fa-bullhorn"></i> Coaching</a>
                </li>
                <li class="active text-center">
                    <a aria-expanded="false" role="button" href="@Url.Action("Index", "Home")"> <i class="fa fa-star"></i> Competitions</a>
                </li>
               

            </ul>
            <ul class="nav navbar-top-links navbar-right text-center">
                <li>
                    <a href="#">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>