﻿@model TennisManager.Models.CustomerViewModel

<div class="row">

    @if (Model.CustomerBookings.Count() == 0)
    {
        <h2 style="text-align:center;">No Bookings Found</h2>
    }
    else
    {
        <table class="table" id="tblBooking">

            <tr class="gray-bg">
                <th><i class="fa fa-sort"></i>&nbsp;&nbsp;Date</th>
                <th><i class="fa fa-sort"></i>&nbsp;&nbsp;Time</th>
                <th><i class="fa fa-sort"></i>&nbsp;&nbsp;Location</th>
                <th><i class="fa fa-sort"></i>&nbsp;&nbsp;Booking Type</th>
                <th><i class="fa fa-sort"></i>&nbsp;&nbsp;Status</th>
                <th><i class="fa fa-sort"></i>&nbsp;&nbsp;Price</th>
            </tr>
            @foreach (var item in Model.CustomerBookings)
            {
                <tr style="height:60px">
                    <td class="col-md-1" style="vertical-align:middle">
                        @item.strDate
                    </td>
                    <td class="col-md-1" style="vertical-align:middle">
                        @item.strStart - @item.strEnd
                    </td>
                    <td class="col-md-1" style="vertical-align:middle">
                        <span class="label" style="color:white; background-color:#@item.Court.Facility.Colour;"><strong>@item.Court.Facility.ShortName</strong></span>
                        &nbsp;&nbsp;@item.Court.Name
                    </td>
                    <td class="col-md-1" style="vertical-align:middle">
                        @item.BookingType.Name
                    </td>
                    <td class="col-md-1" style="vertical-align:middle">
                        @if (item.isPaid == true)
                    {
                            <span class="label label-primary">Paid</span>
                        }
                        @if (item.isPaid == false)
                    {
                            <span class="label label-warning">Not Paid</span>
                        }

                    </td>
                    <td class="col-md-1" style="vertical-align:middle">
                        @item.Price.ToString("c")
                    </td>
                </tr>

            }
        </table>
    }

</div>

