﻿@model TennisManager.Models.EventViewModel

@using (Ajax.BeginForm("SaveClassDetails", "Class", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "DetailsContainer",
    InsertionMode = InsertionMode.Replace,
    OnComplete = "EditClass_complete",
    OnSuccess = "EditClass_success"
}, new { id = "ClassDetailForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @if (ViewBag.Result == "Success")
        {
            <div class="alert alert-success" style="margin-bottom:0;">
                Changes have been sucessfully saved.
            </div>
        }

        @if (ViewBag.Result == "Failed")
        {
            <div class="alert alert-danger" style="margin-bottom:0;">
                Changes failed to save due to input errors<br />
                @Html.ValidationSummary(true)
            </div>
        }

        @Html.HiddenFor(m => m.Id)

        <div class="row">
            <div class="col-md-12">

                @*<h2>Details</h2>*@
                <hr />
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.BookingTypeId, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @(Html.Kendo().DropDownListFor(model => model.BookingTypeId)
                                    .Name("BookingTypeId")
                                    .DataValueField("Id")
                                    .DataTextField("Name")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("ClassType_Read", "Booking");
                                        })
                                        .ServerFiltering(true);
                                    })
                                    .Value(Model.BookingTypeId.ToString())
                            )

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @(Html.Kendo().TextBoxFor(m => m.Title)
                                        .Name("Title")
                                        .HtmlAttributes(new { style = "width:100%" })
                            )
                            @Html.ValidationMessageFor(model => model.Title)


                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @(Html.Kendo().EditorFor(m => m.Description)
                                        .Name("Description")
                                        .Tools(t => t.Clear())
                                        .HtmlAttributes(new { style = "width:100%; height:100px;" })
                            )
                            @Html.ValidationMessageFor(model => model.Description)


                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Capacity", new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @(Html.Kendo().NumericTextBoxFor(m => m.Capacity)
                                    .Name("Capacity")
                                    .Format("#")
                                    .Decimals(0)
                                    .Enable(!Model.isUnlimitedCapacity)
                                    .HtmlAttributes(new { style = "width:100%" })
                            )
                        </div>
                        <div class="col-md-4">
                            <div style="padding-top:5px;">
                                @Html.CheckBoxFor(m => m.isUnlimitedCapacity, new { onchange = "isUnlimitedCapacity_changed(this)" }) <text>Unlimited</text><br />
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="form-group">
                        @Html.Label("Instructor", new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @(Html.Kendo().MultiSelectFor(m => m.SelectedCoaches)
                                    .Name("SelectedCoaches")
                                    .DataValueField("Id")
                                    .DataTextField("Name")
                                    .Placeholder("Select coach/instructor(s)")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("Coaches_Read", "Booking");
                                        })
                                        .ServerFiltering(true);
                                    })
                            )
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Age Group", new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @(Html.Kendo().MultiSelectFor(m => m.SelectedGenderAgeGroups)
                                    .Name("SelectedGenderAgeGroups")
                                    .DataValueField("Id")
                                    .DataTextField("Name")
                                    .Placeholder("Select gender/age group(s)")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GenderAge_Read", "Booking");
                                        })
                                        .ServerFiltering(true);
                                    })
                            )
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Skill Level", new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @(Html.Kendo().MultiSelectFor(m => m.SelectedPlayerLevels)
                                    .Name("SelectedPlayerLevels")
                                    .DataValueField("Id")
                                    .DataTextField("Name")
                                    .Placeholder("Select skill level(s)")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("PlayerLevel_Read", "Booking");
                                        })
                                        .ServerFiltering(true);
                                    })
                            )
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Waitlist", new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @(Html.Kendo().DropDownListFor(m => m.hasWaitlist)
                                    .Name("hasWaitlist")
                                    .DataValueField("Value")
                                    .DataTextField("Text")
                                    .HtmlAttributes(new { style = "width:100%" })
                                    .BindTo(new List<SelectListItem>() {
                                            new SelectListItem() {
                                                Text = "Disable",
                                                Value = "false"
                                            },
                                            new SelectListItem() {
                                                Text = "Enable",
                                                Value = "true"
                                            },

                                        })
                            )
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.Label("Online Reg", new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @(Html.Kendo().DropDownListFor(m => m.isOnline)
                                    .Name("isOnline")
                                    .DataValueField("Value")
                                    .DataTextField("Text")
                                    .HtmlAttributes(new { style = "width:100%" })
                                    .BindTo(new List<SelectListItem>() {
                                            new SelectListItem() {
                                                Text = "Disable",
                                                Value = "false"
                                            },
                                            new SelectListItem() {
                                                Text = "Enable",
                                                Value = "true"
                                            },

                                        })
                            )
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                @*<h2>Schedule</h2>*@
                <hr />

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Court(s)", new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @(Html.Kendo().MultiSelectFor(m => m.SelectedCourts)
                                            .Name("SelectedCourts")
                                            .DataTextField("Name")
                                            .DataValueField("Id")
                                            .HighlightFirst(true)
                                            .TagTemplateId("CourtTagTemplate")
                                            .ItemTemplateId("CourtItemTemplate")
                                            .Placeholder("Select court(s)...")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("Courts_Read", "Booking");
                                                })
                                                .ServerFiltering(true);
                                            })
                            )
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Day(s)", new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @(Html.Kendo().MultiSelectFor(m => m.SelectedDays)
                                            .Name("SelectedDays")
                                            .DataTextField("Name")
                                            .DataValueField("Id")
                                            .HighlightFirst(true)
                                            .Placeholder("Select day(s)...")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("Days_Read", "Class");
                                                })
                                                .ServerFiltering(true);
                                            })
                            )
                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Start Time", new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @(Html.Kendo().TimePickerFor(m => m.StartTime)
                                        .HtmlAttributes(new { style = "width:100%" })

                            )
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("End Time", new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @(Html.Kendo().TimePickerFor(m => m.EndTime)
                                        .Name("EndTime")
                                        .HtmlAttributes(new { style = "width:100%" })

                            )
                        </div>
                    </div>




                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <hr />
                <input type="button" value="Cancel" class="btn btn-warning" />
                <input type="submit" value="Save Changes" class="btn btn-primary pull-right" />
            </div>
        </div>


    </div>
}
