﻿@model TennisManager.Models.EventViewModel
<div class="col-md-6">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Bookings</h5>

        </div>
        <div class="ibox-content" style="height:65vh;">
            <div id="ClassBookingContainer">
                @Html.Action("RenderPartial_ClassBookingList", "Class", new { eventId = Model.Id })
            </div>
        </div>

    </div>
</div>


<div class="col-md-6">

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Details</h5>

        </div>
        <div class="ibox-content" style="min-height:65vh;">

            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="tab1 active"><a data-toggle="tab" href="#ClassRegistrations">Registrations</a></li>
                    <li class="tab2"><a data-toggle="tab" href="#ClassWaitlist">Waitlist</a></li>
                    <li class="tab3"><a data-toggle="tab" href="#ClassRoll">Roll</a></li>

                </ul>
                <div class="tab-content">
                    <div id="ClassRegistrations" class="tab-pane active">
                        <div class="panel-body" style="min-height:55vh;">
                            <div id="ClassRegistrationContainer">
                                @*@Html.Action("RenderPartial_ClassRegistrations", "Class", Model)*@
                            </div>
                        </div>
                    </div>
                    <div id="ClassWaitlist" class="tab-pane">
                        <div class="panel-body" style="min-height:55vh;">
                            <div id="ClassWaitlistContainer">

                            </div>

                        </div>
                    </div>

                    <div id="ClassRoll" class="tab-pane">
                        <div class="panel-body" style="min-height:55vh;">
                            <div id="ClassRollContainer">

                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>


</div>

