﻿@model TennisManager.Models.EventViewModel

@if (Model.EventBookings.Count() != 0)
{
    <div class="animated fadeIn" style="overflow-y:auto; overflow-x:hidden; max-height:60vh">
        <div class="row">
            <div class="col-md-12">

                <table class="table">

                    @foreach (var item in Model.EventBookings)
                    {
                        <tr>
                            <td style="vertical-align:middle;">
                                <h3>@item.Date.ToString("D")</h3>
                            </td>
                            <td style="vertical-align:middle;">
                                <button type="button" class="btn btn-primary btn-sm pull-right" style="margin-bottom:0;">View Details&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></button>
                            </td>
                        </tr>
                        foreach (var booking in item.Booking)
                        {
                            <tr>
                                <td style="text-align:center;">
                                    <span class="label" style="color:white; background-color:#@booking.Court.Facility.Colour;"><strong>@booking.Court.Facility.ShortName</strong></span>
                                    &nbsp;&nbsp;@booking.Court.Name
                                </td>
                                <td>
                                    <text>@booking.Start.ToShortTimeString() - @booking.End.ToShortTimeString()</text>
                                </td>
                            </tr>
                        }
                        
                    }
                </table>
            </div>
        </div>
    </div>

}
else
{
    <h2>No bookings found</h2>
}
