﻿@model TennisManager.Models.EventViewModel

@if (Model.Events.Count() == 0)
{
    <div class="row">
        <h2 style="text-align:center; padding:50px 20px 20px 20px">No Classes Found</h2>
    </div>
}
else
{

    @Html.HiddenFor(model => model.PageIndex, new { id = "hiddenPageIndex" })

    <div class="row" style="overflow:auto;">
        <div class="col-md-12">
            <table class="table" id="tblClass">
                <tr class="gray-bg">
                    <th><i class="fa fa-pencil"></i>&nbsp;&nbsp;Title</th>
                    <th><i class="fa fa-th"></i>&nbsp;&nbsp;Type</th>
                    <th colspan="2" style="text-align:center;"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Preferred Schedule</th>
                    <th><i class="fa fa-user"></i>&nbsp;&nbsp;Coach</th>
                    <th><i class="fa fa-level-up"></i>&nbsp;&nbsp;Level</th>
                    <th style="text-align:center;"><i class="fa fa-random"></i>&nbsp;&nbsp;Status</th>
                    <th style="text-align:center;"><i class="fa fa-cog"></i>&nbsp;&nbsp;Action</th>


                </tr>
                @foreach (var item in Model.Events)
                {

                    <tr style="height:60px">
                        <td class="col-md-1" style="vertical-align:middle">
                            <h4>
                                @item.Title
                            </h4>
                        </td>

                        <td class="col-md-1" style="vertical-align:middle">
                            <h5>
                                @item.BookingType.Name
                            </h5>
                        </td>

                        <td class="col-md-1" style="vertical-align:middle; text-align:center;">
                            @if (item.Days.Count() == 0)
                            {
                                <h5>No days and time selected</h5>
                            }
                            else
                            {
                                foreach (var days in item.Days)
                                {
                                    <h5>@days.Name</h5>
                                }
                                <h5>
                                    @item.StartTime.ToShortTimeString() - @item.EndTime.ToShortTimeString()
                                </h5>
                            }

                        </td>

                        <td class="col-md-1" style="vertical-align:middle">
                            @if (item.Courts.Count() == 0)
                            {
                                <h5>No courts selected</h5>
                            }
                            else
                            {
                                foreach (var court in item.Courts)
                                {
                                    <h5>
                                        <span class="label" style="color:white; background-color:#@court.Facility.Colour;"><strong>@court.Facility.ShortName</strong></span>
                                        @court.Name
                                    </h5>
                                }
                            }
                        </td>

                        <td class="col-md-1" style="vertical-align:middle">
                            @if (item.Coaches.Count == 0)
                            {
                                <h5>No coaches selected</h5>
                            }
                            else
                            {
                                foreach (var coach in item.Coaches)
                                {
                                    <h5>@coach.User.FirstName @coach.User.LastName</h5>
                                }
                            }
                        </td>
                        <td class="col-md-1" style="vertical-align:middle;">
                            @if (item.PlayerLevels.Count == 0)
                            {
                                <h5>No levels selected</h5>
                            }
                            else
                            {
                                foreach (var level in item.PlayerLevels)
                                {
                                    <h5>@level.Name</h5>
                                }
                            }
                        </td>

                        <td class="col-md-1" style="vertical-align:middle; text-align:center;">
                            @if (item.IsActive == true)
                            {
                                <p><span class="badge badge-primary">active</span></p>
                            }
                            else
                            {
                                <p><span class="badge badge-danger">inactive</span></p>
                            }
                        </td>

                        <td class="col-md-1" style="vertical-align:middle; text-align:center;">


                            <div class="btn-group-vertical">
                                <button class="btn btn-primary btn-sm" onclick="showClassDetails(@item.Id)"><i class="fa fa-book"></i>&nbsp;&nbsp;&nbsp;&nbsp;Details</button>
                                <button class="btn btn-success btn-sm" onclick="showClassBookings('@item.Id', '@item.Title');"><i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;Bookings</button>
                            </div>
                         

                        </td>

                    </tr>

                }
            </table>

            @if (Model.PageCount > 1)
            {
                <nav>
                    <ul class="pagination" style="margin:0;">

                        @if (Model.PageIndex == 0)
                        {
                            <li class="page-back disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        }
                        else
                        {
                            <li class="page-back"><a href="javascript:void(0)" onclick="pagination_clicked(@Model.PageIndex)" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        }
                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            if (i == Model.PageIndex + 1)
                            {
                                <li class="active"><a href="javascript:void(0)">@i.ToString() <span class="sr-only">(current)</span></a></li>

                            }
                            else
                            {
                                <li><a href="javascript:void(0)" onclick="pagination_clicked(@i)">@i.ToString() <span class="sr-only">(current)</span></a></li>
                            }
                        }
                        @if (Model.PageIndex + 1 == Model.PageCount)
                        {
                            <li class="page-forward disabled">
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-forward">
                                <a href="javascript:void(0)" onclick="pagination_clicked(@Model.PageIndex+2)" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        }
                     
                    </ul>
                </nav>
            }





        </div>
    </div>
}







