﻿@model TennisManager.Models.EventViewModel

@{
    ViewBag.Title = "Index";
}

@section Styles {
    <link href="@Url.Content("~/Content/mjenta/class.css")" rel="stylesheet" type="text/css" />
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Classes</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of Classes / Camps</h5>
                    <div class="ibox-tools">
                        @Html.ActionLink("Create New Class", "Create", null, new { @class = "btn btn-primary btn-xs" })
                    </div>
                </div>

                <div class="ibox-content" style="min-height:70vh;">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                @Html.TextBox("search", "", new { @class = "input form-control" })
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Search</button>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-2">
                            @(Html.Kendo().DropDownList()
                                    .Name("ClassTypeId")
                                    .DataValueField("Id")
                                    .DataTextField("Name")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .OptionLabel("Filter by class type")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("ClassType_Read", "Booking");
                                        })
                                        .ServerFiltering(true);
                                    })
                                    .Events(e => e.Change("classtype_changed"))
                            )
                        </div>

                        <div class="col-md-2">
                            @(Html.Kendo().DropDownList()
                                    .Name("CoachId")
                                    .DataValueField("Id")
                                    .DataTextField("Name")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .OptionLabel("Filter by coach")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("Coaches_Read", "Booking");
                                        })
                                        .ServerFiltering(true);
                                    })
                                    .Events(e => e.Change("coach_changed"))

                            )
                        </div>

                        <div class="col-md-2">
                            @(Html.Kendo().DropDownList()
                                    .Name("DayId")
                                    .DataValueField("Id")
                                    .DataTextField("Name")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .OptionLabel("Filter by day")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("Days_Read", "Class");
                                        })
                                        .ServerFiltering(true);
                                    })
                                    .Events(e => e.Change("day_changed"))

                            )
                        </div>

                        <div class="col-md-2">
                            @(Html.Kendo().DropDownList()
                                    .Name("PlayerLevelId")
                                    .DataValueField("Id")
                                    .DataTextField("Name")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .OptionLabel("Filter by skill level")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("PlayerLevel_Read", "Booking");
                                        })
                                        .ServerFiltering(true);
                                    })
                                    .Events(e => e.Change("level_changed"))

                            )
                        </div>
                    </div>
                    <br />
                    <div class="ClassListContainer">
                        @Html.Action("RenderPartial_ClassList", "Class")
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


<div class="modal inmodal" id="modalClassDetails" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Details</h4>
            </div>
            <div class="modal-body" style="min-height:65vh;">

                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active" text-align:center;"><a data-toggle="tab" href="#tab-1">Details</a></li>
                        <li class="" text-align:center;"><a data-toggle="tab" href="#tab-2">Pricing</a></li>

                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body" style="min-height:55vh;">
                                <div id="DetailsContainer"></div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body" style="min-height:55vh;">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="modalClassBookings" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-xl">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Bookings</h4>
            </div>
            <div class="modal-body" style="overflow-y:auto; overflow-x:hidden; min-height:75vh;">
                <div id="BookingsContainer"></div>
            </div>
        </div>
    </div>
</div>


<script id="CourtTagTemplate" type="text/kendo-tmpl">
    <label class="btn-xs btn" style='color:white; background-color:#=GetFacilityColour(Colour)#'><strong>#=GetFacilityName(Colour)#</strong></label>&nbsp;&nbsp;#=Name#
</script>

<script id="CourtItemTemplate" type="text/kendo-tmpl">
    <label class="btn-xs btn" style='color:white; background-color:#=GetFacilityColour(Colour)#'><strong>#=GetFacilityName(Colour)#</strong></label>&nbsp;&nbsp;#=Name#
</script>

<script src="@Url.Content("~/Scripts/mjenta/class.js")"></script>
