﻿@model TennisManager.Models.SaleItemViewModel

@{
    decimal saleItemPrice = 0;
    Guid guid = Guid.NewGuid();

    if (Model.OrderItem.OrderItemType == Orders.OrderItemType.product)
    {
        saleItemPrice = Model.OrderItem.ProductVariant.RetailPrice;

        if ((Model.isMember == true) && (Model.OrderItem.ProductVariant.Product.hasMemberPrice == true))
        {
            saleItemPrice = Model.OrderItem.ProductVariant.MemberPrice;
        }
    }
    if (Model.OrderItem.OrderItemType == Orders.OrderItemType.booking)
    {
        saleItemPrice = Model.OrderItem.Booking.Price;

    }
}

@if (Model.OrderItem.OrderItemType == Orders.OrderItemType.booking)
{
    <div class="ibox collapsed" style="margin-bottom:0;">
        <div class="ibox-title">
            <div class="row">
                <div class="col-md-1">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>

                <div class="col-md-1 hidden">
                    <h4 class="item-quantity-label" data-value="1" data-id="@Model.OrderItem.Booking.Id" data-guid="@guid" data-bind="item-quantity-label-@guid">1</h4>
                </div>

                <div class="col-md-1">
                    <button type="button" class="btn btn-xs btn-default booking-details" data-toggle="tooltip" data-placement="right" data-html="true" title="@Model.Details"><i class="fa fa-pencil"></i></button>
                </div>


                <div class="col-md-7">
                    <h3 style="color:#1ab394" data-bind="item-name-@guid" data-value="@Model.OrderItem.Booking.BookingType.Name">@Model.OrderItem.Booking.BookingType.Name</h3>
                </div>

                <div class="col-md-2">
                    <h4 class="item-total-price-label" data-value="@Model.OrderItem.Booking.Price.ToString("N2")" data-taxable="True" data-bind="item-price-label-@guid">
                        @Model.OrderItem.Booking.Price.ToString("N2")
                    </h4>
                </div>

                <div class="col-md-1">
                    <a class="close-link-dynamic">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="ibox-content sale-item" data-guid="@guid" data-order-type="0" data-orderitem-id="@Model.OrderItem.Id" data-meta-id="@Model.OrderItem.Booking.Id">
            <div class="row">
                <div class="col-md-4 hidden">
                    <h5>Quantity</h5>
                    @(Html.Kendo().NumericTextBoxFor(m => m.Quantity)
                    .Name("ItemQuantity-" + guid)
                    .HtmlAttributes(new { style = "width:100%;", @class = "item-quantity", data_id = Model.OrderItem.Booking.Id.ToString(), data_bind = "item-quantity-" + guid, data_guid = guid })
                    .Value(1)
                    )
                </div>
                <div class="col-md-6">
                    <h5>Price</h5>
                    @(Html.Kendo().NumericTextBoxFor(m => m.ItemPrice)
                    .Name("ItemPrice-" + guid)
                    .Spinners(false)
                    .Value(Model.OrderItem.Booking.Price)
                    .HtmlAttributes(new { style = "width:100%;", @class = "item-price", data_id = Model.OrderItem.Booking.Id.ToString(), data_bind = "item-price-" + guid.ToString(), data_guid = guid, data_initial_value = Model.OrderItem.Booking.Price })
                    )
                </div>

                <div class="col-md-6">
                    <h5 data-bind="item-adjust-label-@guid">Discount (%)</h5>
                    @(Html.Kendo().NumericTextBoxFor(m => m.ItemAdjust)
                    .Name("ItemAdjust-" + guid)
                    .Spinners(false)
                    .HtmlAttributes(new { style = "width:100%;", @class = "item-adjust", data_id = Model.OrderItem.Booking.Id.ToString(), data_bind = "item-adjust-" + guid.ToString(), data_guid = guid, data_item_adjust_type = "0" })
                    )
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    @(Html.Kendo().TextBoxFor(m => m.Note)
                        .Name("Notes-" + guid)
                        .HtmlAttributes(new { style = "width:100%", placeholder = "add a note...", @class = "item-note", data_bind = "item-note=" + guid.ToString() })
                    )
                </div>
            </div>

        </div>
    </div>
}

@if (Model.OrderItem.OrderItemType == Orders.OrderItemType.product)
{
    <div class="ibox collapsed" style="margin-bottom:0;">
        @Html.Hidden("hiddenGuid", "#####_" + guid + "_#####")


        <div class="ibox-title">
            <div class="row">
                <div class="col-md-1">
                    <a class="collapse-link-dynamic">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>

                <div class="col-md-1" style="text-align:center;">
                    <h4 class="item-quantity-label" data-value="1" data-id="@Model.OrderItem.ProductVariant.Id" data-guid="@guid" data-bind="item-quantity-label-@guid">1</h4>
                </div>

                <div class="col-md-7">
                    <h3 style="color:#1ab394" data-bind="item-name-@guid" data-value="@Model.OrderItem.ProductVariant.Product.Title">@Model.OrderItem.ProductVariant.Product.Title</h3>
                </div>

                <div class="col-md-2">
                    <h4 class="item-total-price-label" data-value="@saleItemPrice.ToString("N2")" data-taxable="@Model.OrderItem.ProductVariant.Product.Taxable" data-bind="item-price-label-@guid">
                        @saleItemPrice.ToString("N2")
                    </h4>
                </div>

                <div class="col-md-1">
                    <a class="close-link-dynamic">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="ibox-content sale-item product-item" data-product-id="@Model.OrderItem.ProductVariant.Id" data-guid="@guid"  data-order-type="1" data-meta-id="@Model.OrderItem.ProductVariant.Id">
            <div class="row">
                <div class="col-md-4">
                    <h5>Quantity</h5>
                    @(Html.Kendo().NumericTextBoxFor(m => m.Quantity)
                    .Name("ItemQuantity")
                    .HtmlAttributes(new { style = "width:100%;", @class = "item-quantity", data_id = Model.OrderItem.ProductVariant.Id.ToString(), data_bind = "item-quantity-" + guid, data_guid = guid })
                    )
                </div>
                <div class="col-md-4">
                    <h5>Price</h5>
                    @(Html.Kendo().NumericTextBoxFor(m => m.ItemPrice)
                    .Name("ItemPrice")
                    .Spinners(false)
                    .Value(saleItemPrice)
                    .HtmlAttributes(new { style = "width:100%;", @class = "item-price", data_id = Model.OrderItem.ProductVariant.Id.ToString(), data_bind = "item-price-" + guid.ToString(), data_guid = guid, data_initial_value = saleItemPrice })
                    )
                </div>

                <div class="col-md-4">
                    <h5 data-bind="item-adjust-label-@guid">Discount (%)</h5>
                    @(Html.Kendo().NumericTextBoxFor(m => m.ItemAdjust)
                    .Name("ItemAdjust")
                    .Spinners(false)
                    .HtmlAttributes(new { style = "width:100%;", @class = "item-adjust", data_id = Model.OrderItem.ProductVariant.Id.ToString(), data_bind = "item-adjust-" + guid.ToString(), data_guid = guid, data_item_adjust_type = "0" })
                    )
                </div>

            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    @(Html.Kendo().TextBoxFor(m => m.Note)
                        .Name("Notes-" + guid)
                        .HtmlAttributes(new { style = "width:100%", placeholder = "add a note...", @class = "item-note", data_bind = "item-note=" + guid.ToString() })
                    )
                </div>
            </div>
        </div>
    </div>
}
@if (Model.OrderItem.OrderItemType == Orders.OrderItemType.registration)
{
    <div class="ibox collapsed" style="margin-bottom:0;">
        <div class="ibox-title">
            <div class="row">
                <div class="col-md-1">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>

                <div class="col-md-1 hidden">
                    <h4 class="item-quantity-label" data-value="1" data-id="@Model.OrderItem.Registration.Id" data-guid="@guid" data-bind="item-quantity-label-@guid">1</h4>
                </div>

                <div class="col-md-1">
                    <button type="button" class="btn btn-xs btn-default booking-details" data-toggle="tooltip" data-placement="right" data-html="true" title="@Model.Details"><i class="fa fa-pencil"></i></button>
                </div>

                <div class="col-md-7">
                    <h3 style="color:#1ab394" data-bind="item-name-@guid" data-value="@Model.OrderItem.Registration.EventBooking.Event.Title">@Model.OrderItem.Registration.EventBooking.Event.Title</h3>
                </div>

                <div class="col-md-2">
                    <h4 class="item-total-price-label" data-value="@Model.OrderItem.Registration.Fee.ToString("N2")" data-taxable="True" data-bind="item-price-label-@guid">
                        @Model.OrderItem.Registration.Fee.ToString("N2")
                    </h4>
                </div>

                <div class="col-md-1">
                    <a class="close-link-dynamic">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="ibox-content sale-item" data-guid="@guid" data-order-type="2" data-orderitem-id="@Model.OrderItem.Id" data-meta-id="@Model.OrderItem.Registration.Id">
            <div class="row">
                <div class="col-md-4 hidden">
                    <h5>Quantity</h5>
                    @(Html.Kendo().NumericTextBoxFor(m => m.Quantity)
                    .Name("ItemQuantity-" + guid)
                    .HtmlAttributes(new { style = "width:100%;", @class = "item-quantity", data_id = Model.OrderItem.Registration.Id.ToString(), data_bind = "item-quantity-" + guid, data_guid = guid })
                    .Value(1)
                    )
                </div>
                <div class="col-md-6">
                    <h5>Price</h5>
                    @(Html.Kendo().NumericTextBoxFor(m => m.ItemPrice)
                    .Name("ItemPrice-" + guid)
                    .Spinners(false)
                    .Value(Model.OrderItem.Registration.Fee)
                    .HtmlAttributes(new { style = "width:100%;", @class = "item-price", data_id = Model.OrderItem.Registration.Id.ToString(), data_bind = "item-price-" + guid.ToString(), data_guid = guid, data_initial_value = Model.OrderItem.Registration.Fee })
                    )
                </div>

                <div class="col-md-6">
                    <h5 data-bind="item-adjust-label-@guid">Discount (%)</h5>
                    @(Html.Kendo().NumericTextBoxFor(m => m.ItemAdjust)
                    .Name("ItemAdjust-" + guid)
                    .Spinners(false)
                    .HtmlAttributes(new { style = "width:100%;", @class = "item-adjust", data_id = Model.OrderItem.Registration.Id.ToString(), data_bind = "item-adjust-" + guid.ToString(), data_guid = guid, data_item_adjust_type = "0" })
                    )
                </div>

            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    @(Html.Kendo().TextBoxFor(m => m.Note)
                        .Name("Notes-" + guid)
                        .HtmlAttributes(new { style = "width:100%", placeholder = "add a note...", @class = "item-note", data_bind = "item-note=" + guid.ToString() })
                    )
                </div>
            </div>

        </div>
    </div>
}
@if (Model.OrderItem.OrderItemType == Orders.OrderItemType.credit)
{

}
@if (Model.OrderItem.OrderItemType == Orders.OrderItemType.membership)
{

}

