﻿@model TennisManager.Models.SaleViewModel

@using (Ajax.BeginForm("Insert", "Sale", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "payment-container",
    InsertionMode = InsertionMode.Replace,
    OnSuccess = "insertSale_success"
}, new { id = "InsertSale", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.SourceType, new { id = "hiddenPaymentTypeId" })

    <div class="form-horizontal">

        @if (ViewBag.Result == "Success")
        {
            <div class="alert alert-success">
                Changes have been sucessfully saved.
            </div>
        }

        @if (ViewBag.Result == "Failed")
        {
            <div class="alert alert-danger">
                Changes failed to save due to input errors<br />
                @Html.ValidationSummary(true)
            </div>
        }

        <div class="row">
            <div class="col-md-6">
                
                    <div class="ibox float-e-margins">
                        <div class="ibox-title" style="text-align:center;">
                            <h5>Sale Summary</h5>
                        </div>

                        <div class="ibox-content" style="padding-top:10px; padding-bottom:10px;">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="form-group" style="margin-bottom:0;">
                                        <label class="control-label col-md-6" style="padding-top:0;">Customer:</label>
                                        <div class="col-md-6">
                                            <div class="pull-right">
                                                @if (Model.CustomerId != 0)
                                                {
                                                    <label class="control-label customer-id" style="padding-top:0;" data-value="@Model.Customer.Id">@Model.Customer.User.FirstName @Model.Customer.User.LastName</label>
                                                }
                                                else
                                                {
                                                    <label class="control-label customer-id" style="padding-top:0;" data-value="0">Guest</label>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content" style="height:35vh; overflow:auto;">

                            @for (int i = 0; i < Model.SaleItems.Count(); i++)
                            {
                                <div class="row line-item" 
                                     data-guid="@Model.SaleItems[i].ItemGuid" 
                                     data-order-type="@Model.SaleItems[i].OrderItemTypeId" 
                                     data-orderitem-id="@Model.SaleItems[i].OrderItemId"
                                     data-meta-id="@Model.SaleItems[i].MetaDataId" 
                                     data-quantity="@Model.SaleItems[i].Quantity" 
                                     data-item-adjust="@Model.SaleItems[i].ItemAdjust" 
                                     data-item-adjust-type="@Model.SaleItems[i].ItemAdjustTypeId" 
                                     data-note="@Model.SaleItems[i].Note" 
                                     data-item-price="@Model.SaleItems[i].ItemPrice" 
                                     data-sale-price="@Model.SaleItems[i].SalePrice"
                                     data-item-name="@Model.SaleItems[i].ItemName"
                                     >
                                    <div class="col-md-12">
                                        <div class="col-md-1">
                                            <label data-value="@Model.SaleItems[i].Quantity">@Model.SaleItems[i].Quantity</label>
                                        </div>
                                        <div class="col-md-8">
                                            <label data-value="@Model.SaleItems[i].ItemName">@Model.SaleItems[i].ItemName</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label data-value="@Model.SaleItems[i].SalePrice">@Model.SaleItems[i].SalePrice.ToString("n2")</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <ul>
                                            @if (Model.SaleItems[i].ItemAdjust != 0)
                                            {

                                                if (Model.SaleItems[i].ItemAdjustTypeId == 0)
                                                {
                                                    <li class="item-detail" data-bind="detail-@Model.SaleItems[i].ItemGuid" data-value="@Model.SaleItems[i].ItemAdjust % Discount">@Model.SaleItems[i].ItemAdjust % Discount</li>
                                                }
                                                if (Model.SaleItems[i].ItemAdjustTypeId == 1)
                                                {
                                                    <li class="item-detail" data-bind="detail-@Model.SaleItems[i].ItemGuid" data-value="@Model.SaleItems[i].ItemAdjust % Markup">@Model.SaleItems[i].ItemAdjust % Markup</li>
                                                }

                                            }
                                            @if ((Model.SaleItems[i].OrderItemType == Orders.OrderItemType.booking) || (Model.SaleItems[i].OrderItemType == Orders.OrderItemType.registration))
                                            {

                                                foreach (var item in Model.SaleItems[i].DetailList)
                                                {
                                                    <li class="item-detail" data-bind="detail-@Model.SaleItems[i].ItemGuid" data-value="@item">@item</li>
                                                }

                                            }
                                        </ul>
                                    </div>
                                </div>
                                <hr style="border-top: dotted 1px; margin-top:5px; margin-bottom:5px; color:lightgray;" />
                            }

                        </div>

                        <div class="ibox-content" style="padding-top:10px; padding-bottom:10px;">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="form-group" style="margin-bottom:0;">
                                        <label class="control-label col-md-6" style="padding-top:0;">SubTotal:</label>
                                        <div class="col-md-6">
                                            <div class="pull-right">
                                                <label class="control-label" style="padding-top:0;" data-value="@Model.SubTotal" data-bind="subtotal">@Model.SubTotal.ToString("n2")</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="form-group" style="margin-bottom:0;">
                                        <label class="control-label col-md-6">Tax:</label>
                                        <div class="col-md-6">
                                            <div class="pull-right">
                                                <label class="control-label" data-value="@Model.Tax" data-bind="tax">@Model.Tax.ToString("n2")</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="form-group" style="margin-bottom:0;">
                                        <label class="control-label col-md-6">Discount:</label>
                                        <div class="col-md-6">
                                            <div class="pull-right">
                                                <label class="control-label" data-value="@Model.DiscountAmount" data-bind="discount-amount">@Model.DiscountAmount.ToString("n2")</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="form-group" style="margin-bottom:0;">
                                        <label class="control-label col-md-6">Total:</label>
                                        <div class="col-md-6">
                                            <div class="pull-right">
                                                <label class="control-label" name="TotalAmount" value="@Model.TotalAmount" data-value="@Model.TotalAmount" data-bind="total-amount">@Model.TotalAmount.ToString("n2")</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="ibox-content payments-box hidden" style="padding-top:10px; padding-bottom:10px;">

                        </div>

                        <div class="ibox-content change-box hidden" style="padding-top:10px; padding-bottom:10px;">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="form-group" style="margin-bottom:0;">
                                        <label class="control-label col-md-6" style="padding-top:0;">Change:</label>
                                        <div class="col-md-6">
                                            <div class="pull-right">
                                                <label class="control-label" style="padding-top:0;" data-value="@Model.Change" data-bind="change">@Model.Change.ToString("n2")</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ibox-content" style="padding-top:10px; padding-bottom:10px;">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="form-group" style="margin-bottom:0;">
                                        <label class="control-label col-md-6" style="padding-top:0;">Balance Due:</label>
                                        <div class="col-md-6">
                                            <div class="pull-right">
                                                <label class="control-label" style="padding-top:0;" data-value="@Model.TotalAmount" data-bind="balance-due">@Model.TotalAmount.ToString("n2")</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
            </div>


            <div class="col-md-6">
                <div id="payment-spinner" class="sk-spinner sk-spinner-three-bounce" style="padding-top:100px; display:none;">
                    <div class="sk-bounce1"></div>
                    <div class="sk-bounce2"></div>
                    <div class="sk-bounce3"></div>
                </div>
                <div id="payment-container">
                    @Html.Action("RenderPartial_PaymentType", "Sale", Model)
                </div>


            </div>



        </div>
    </div>

}