﻿@model TennisManager.Models.SaleViewModel

@{
    ViewBag.Title = "Members";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Point of sale</h2>

    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight" style="height:100%">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Point of sale</h5>
                    <div class="ibox-tools">
                    </div>
                </div>
                <div class="ibox-content" style="height:100%">

                    <div class="row">
                        <div class="col-lg-6">
                            @using (Html.BeginForm("Create", "Sale", FormMethod.Get))
                            {
                                <div class="input-group">

                                    @Html.TextBox("search", (string)ViewBag.Search, new { @class = "input form-control" })
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn btn-primary"> <i class="fa fa-search"></i> Search Product</button>
                                    </span>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                           @*@Html.Partial("_SaleItems", Model)*@
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
