﻿@model TennisManager.Models.SaleViewModel

@{
    ViewBag.Title = "Point of Sale";

}

@section Styles {
    <link href="@Url.Content("~/Content/mjenta/pointofsale.css")" rel="stylesheet" type="text/css" />
}

@Html.HiddenFor(x => Model.Customer.isMember, new { @id = "hiddenIsMember", value = false })
@Html.HiddenFor(x => Model.Customer.Id, new { @id = "hiddenCustomerId" })
@Html.Hidden("hiddenProductVariantId")
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-sm-6">


            @*Quick Product Lookup Panel*@

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Quick Product Lookup</h5>
                </div>
                <div class="ibox-content product-lookup-panel" style="overflow:auto;">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="input-group">
                                @Html.TextBox("search", "", new { @class = "input form-control" })
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Search Product</button>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            @(Html.Kendo().DropDownList()
                                    .Name("ProductTypeId")
                                    .DataValueField("Id")
                                    .DataTextField("Name")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .OptionLabel("Filter a product type")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("ProductType_Read", "Product");
                                        })
                                        .ServerFiltering(true);
                                    })
                            )
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div id="ProductContainer">
                                <br />
                                @Html.Action("RenderPartial_ProductLookup")
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-6">


            @*Sale Items Panel*@
            <div class="ibox float-e-margins">
                <div class="ibox-title">


                    <div id="CustomerContainer1">
                        @if (Model.Customer != null)
                        {
                            <h5>
                                <i class="fa fa-user"></i><text>&nbsp;&nbsp;&nbsp;</text>
                                @Model.Customer.User.FirstName @Model.Customer.User.LastName
                            </h5>
                        }
                    </div>

                    @if (Model.Customer == null)
                    {
                        <div id="CustomerContainer2">

                            <h5><i class="fa fa-user"></i><text>&nbsp;&nbsp;&nbsp;</text>Guest</h5>
                        </div>
                    }

                    <div id="CustomerContainer3" style="display:none;">

                        <h5>
                            <span><i class="fa fa-user"></i></span>
                            &nbsp;&nbsp;&nbsp;
                            <span id="CustomerName"></span>
                        </h5>
                    </div>

                    <div class="ibox-tools">
                        <button type="button" id="btn-reset-customer" style="margin-bottom:0; display:none;" class="btn btn-xs btn-danger" onclick="resetCustomer()"><i class="fa fa-minus"></i></button>


                        @if (Model.Customer == null)
                        {
                            <button type="button" id="search-custromer-button" class="btn btn-primary btn-xs" style="margin-bottom:0;" data-toggle="modal" data-target="#modalCustomerSearch">
                                <i class="fa fa-search"></i> &nbsp;&nbsp;&nbsp;Search Customer
                            </button>
                        }

                    </div>

                </div>


                <div class="ibox-content sale-item-panel" id="ItemContainer" style="overflow:auto;">
                    <div id="sale-item-container">
                        @if (Model.SaleItems != null)
                        {
                            foreach (var item in Model.SaleItems)
                            {
                                @Html.Action("RenderPartial_SaleItem", "Sale", item)
                            }
                        }
                    </div>
                </div>

                <div class="ibox-content" style="padding-bottom:10px; padding-top:10px;">
                    <div class="row">
                        <div class="col-md-8">
                            <div style="text-align:center;">
                                <label style="padding-top:5px; text-align:center;">Discount :</label>
                            </div>
                        </div>

                        <div class="col-md-2">
                            @(Html.Kendo().DropDownListFor(m => m.DiscountTypeId)
                                .Name("DiscountTypeId")
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .TemplateId("discount-type-template")
                                .ValueTemplateId("discount-value-template")
                                .Events(e => e.Change("discounttype_changed"))
                                .HtmlAttributes(new { @class = "pull-right", style = "width:75px;" })
                                .BindTo(
                                new List<SelectListItem>() {
                                    new SelectListItem() {
                                      Text = "Cash",
                                      Value = "1"
                                    },
                                    new SelectListItem() {
                                      Text = "Percentage",
                                      Value = "2"
                                  }
                                    })
                                .Enable(false)
                            )
                        </div>

                        <div class="col-md-2">
                            @(Html.Kendo().NumericTextBoxFor(m => m.Discount)
                                .Name("Discount")
                                .Spinners(false)
                                .Decimals(2)
                                .HtmlAttributes(new { @class = "pull-right", style = "text-align:center; width:75px;", data_value = "0" })
                                .Enable(false)
                            )
                        </div>
                    </div>
                </div>

                <div class="ibox-content" style="padding-bottom:5px; padding-top:5px;">
                    <table class="table invoice-total" style="margin-bottom:10px;">
                        <tbody>


                            <tr>
                                <td><strong>Sub-total :</strong></td>
                                <td><text data-bind="sale-sub-total" data-value="0.00">$0.00</text></td>
                            </tr>

                            <tr>
                                <td><strong>Tax :</strong></td>
                                <td><text data-bind="sale-tax" data-value="0.00">$0.00</text></td>
                            </tr>

                            <tr>
                                <td><strong>Payments :</strong></td>
                                <td><text data-bind="sale-payment" data-value="0.00">0.00</text></td>
                            </tr>

                            <tr>
                                <td><strong>Total :</strong></td>
                                @if (Model.SaleItems != null)
                                {
                                    <td><text class="sale-total-price" data-bind="sale-total-price" data-initial-value="@Model.TotalAmount.ToString("N2")" data-value="@Model.TotalAmount.ToString("N2")">@Model.TotalAmount.ToString("N2")</text></td>
                                }
                                else
                                {
                                    <td><text class="sale-total-price" data-bind="sale-total-price" data-initial-value="0.00" data-value="0.00">0.00</text></td>
                                }
                            </tr>


                        </tbody>
                    </table>
                </div>


                <div class="ibox-content" style="padding: 15px 5px 5px 5px">
                    <div class="row">
                        <div class="col-lg-10 col-md-offset-1">
                            <button type="button" id="btnPay" onclick="btnPay_clicked()" class="btn btn-primary btn-fullwidth dim">Pay</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    @(Html.Kendo().Notification()
    .Name("popupNotification")
    
    )

</div>

<div class="modal inmodal fade" id="modalCustomerSearch" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Customer Search</h4>
                <small class="font-bold">By adding a customer to a sale, they will be charged members prices for products and also have a sales history. </small>
            </div>
            <div class="modal-body">
                <br />
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="input-group">
                            @Html.TextBox("txtCustomerSearch", "", new { @class = "input form-control", placeholder = "Type in name, email, phone number..." })
                            <span class="input-group-btn">
                                <button type="button" class="btn btn btn-primary" onclick="customerSearch_click()"> <i class="fa fa-search"></i> Search Customer</button>
                            </span>
                        </div>
                    </div>
                </div>
                <br />
                <div id="tblCustomer">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="sale-summary-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="padding:15px 15px;">
                <div class="row">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default btn-lg pull-left btn-back-to-sale" data-dismiss="modal"><i class="fa fa-arrow-circle-left"></i>&nbsp;&nbsp;&nbsp;Back to sale</button>
                    </div>
                    <div class="col-md-8">
                        <h4 class="modal-title" style="padding-top:3px;">Summary</h4>
                    </div>
                    <div class="col-md-2"></div>
                </div>

            </div>
            <div class="modal-body" style="min-height:65vh; padding-bottom:0;">
                <div id="spinner" class="sk-spinner sk-spinner-three-bounce" style="padding-top:100px;">
                    <div class="sk-bounce1"></div>
                    <div class="sk-bounce2"></div>
                    <div class="sk-bounce3"></div>
                </div>
                <div id="sale-payment-container"></div>
            </div>
        </div>
    </div>
</div>




<script id="discount-type-template" type="text/kendo-tmpl">
    <div style="text-align:center">

        <text>#=GetDiscountType(Value)#</text>

    </div>
</script>

<script id="discount-value-template" type="text/kendo-tmpl">
    <div style="text-align:center">
        <text>#=GetDiscountType(Value)#</text>
    </div>
</script>
<script src="@Url.Content("~/Scripts/mjenta/pointofsale.js")"></script>
<script src="@Url.Content("~/Scripts/mjenta/payment.js")"></script>
<script src="@Url.Content("~/Scripts/plugins/dotdotdot/jquery.dotdotdot.js")"></script>
