﻿@{
    ViewBag.Title = "Main";
 
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    @ViewData["SubTitle"]
                </h1>
                
                <small>@ViewData["Message"]</small>
      

               
            </div>
        </div>
    </div>
</div>