﻿@model TennisManager.Models.ProductVariantViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Add Product Variant</h4>
</div>
<div class="modal-body">
    <p class="text-center">
        This product variant will be added once you input the correct fields.
    </p>
    <br />

    <div class="row">
        <div class="col-md-8 col-lg-offset-2">
            <div class="col-md-6">
                <label>Product</label>
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(m => m.Product.Title)
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-8 col-lg-offset-2">
            <div class="col-md-6">
                <label>Variant Option</label>
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(m => m.ProductOption.Name)
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-8 col-lg-offset-2">
            <div class="col-md-6">
                <label>Variant</label>
            </div>
            <div class="col-md-6">
                @(Html.Kendo().TextBox()
                    .Name("txtProductVariantOptionValue")
                )
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-8 col-lg-offset-2">
            <div class="col-md-6">
                <label>Barcode</label>
            </div>
            <div class="col-md-6">
                @(Html.Kendo().TextBox()
                    .Name("txtProductVariantBarcode")
                    )
            </div>
        </div>
    </div>
    @if (Model.Product.InventoryOption == Products.InventoryOption.track)
    {
    <br />
        <div class="row">
            <div class="col-md-8 col-lg-offset-2">
                <div class="col-md-6">
                    <label>Quantity</label>
                </div>
                <div class="col-md-6">
                    @(Html.Kendo().NumericTextBox()
                .Name("txtProductVariantQuantity")
                .Format("#")
                .Decimals(0)
                .Value(0)
                    )
                </div>
            </div>
        </div>
    }

    <br />
    <div class="row">
        <div class="col-md-8 col-lg-offset-2">
            <div class="col-md-6">
                <label>Price</label>
            </div>
            <div class="col-md-6">
                @(Html.Kendo().NumericTextBox()
                    .Name("txtProductVariantPrice")
                    .Format("c")
                    .Decimals(2)
                    .Value(0)
                )
            </div>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" onclick="btnAddProductVariant_confirm()">Add this variant</button>
</div>




