﻿@model TennisManager.Models.ProductTypeViewModel
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Add Product Type</h4>
    </div>
    <div class="modal-body">
        <p class="text-center">
            By adding a new <strong>product type</strong>, you will be able to sort and filter your product list!
        </p>
        <br />
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 center-block">
                @Html.TextBox("txtProductType", "", new { @class = "input form-control", placeholder = "Type in product type name..." })
            </div>
            <div class="col-md-3"></div>
        </div>





    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="btn_ProductTypeAdd()">Add</button>
    </div>

