﻿@model TennisManager.Models.ProductVariantViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Delete Product Variant</h4>
</div>
<div class="modal-body">
    <p class="text-center">
        This product variant cannot be recovered once deleted. Are you sure you want to proceed?
    </p>
    <br />

    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            @Html.LabelFor(m => m.Product.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(m => m.Product.Title)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            @Html.Label("Variant", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(m => m.Product.ProductOption.Name) @Html.DisplayFor(m => m.ProductOptionValue)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            @Html.Label("Barcode", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (string.IsNullOrEmpty(Model.Barcode))
                {
                    <text>N/A</text>
                }
                @if (!string.IsNullOrEmpty(Model.Barcode))
                {
                    @Html.DisplayFor(m => m.Barcode)
                }
            </div>
        </div>
    </div>




</div>

<div class="modal-footer">
    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-danger" onclick="btn_DeleteVariantConfirmed(@Model.Id)">Delete this variant</button>
</div>



