﻿@model TennisManager.Models.ProductViewModel

<div class="wrapper wrapper-content animated fadeIn">


    @using (Ajax.BeginForm("SaveProductInfo", "Product", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "ProductInfoContainer",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "getEditFormPostResult"
    }, new { id = "SaveProductInfoForm", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @if (ViewBag.Result == "Success")
            {
                <div class="alert alert-success">
                    Changes have been sucessfully saved.
                </div>
            }

            @if (ViewBag.Result == "Failed")
            {
                <div class="alert alert-danger">
                    Changes failed to save due to input errors<br />
                    @Html.ValidationSummary(true)
                </div>
            }


            @Html.HiddenFor(x => Model.Id, new { @id = "hiddenProductId" })

            @* Product Details *@
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Product Details</h5>
                        </div>
                        <div class="ibox-content">

                            <div class="form-group">
                                @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @*@Html.EditorFor(model => model.Title, new { @class = "form-control" })*@
                                    @(Html.Kendo().TextBoxFor(m => m.Title)
                                        .HtmlAttributes(new { style = "width:100%;" })
                                    )


                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @(Html.Kendo().EditorFor(model => model.Description)

                                    )
                                    @Html.ValidationMessageFor(model => model.Description)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @* Specifications *@
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Product Specifications</h5>
                        </div>
                        <div class="ibox-content">

                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductBrandId, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @(Html.Kendo().DropDownListFor(model => model.ProductBrandId)
                                    .Name("ProductBrandId")
                                    .DataValueField("Id")
                                    .DataTextField("Name")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .Events(e => e.Change("ddlProductBrand_changed"))
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("ProductBrand_Read", "Product");
                                        })
                                        .ServerFiltering(true);
                                    })
                                    )
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductTypeId, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @(Html.Kendo().DropDownListFor(model => model.ProductTypeId)
                                    .Name("ProductTypeId")
                                    .DataValueField("Id")
                                    .DataTextField("Name")
                                    .HtmlAttributes(new { style = "width:100%;" })
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("ProductType_Read", "Product");
                                        })
                                        .ServerFiltering(true);
                                    })
                                    )
                                    @Html.ValidationMessageFor(model => model.ProductTypeId)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductClassId, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @(Html.Kendo().DropDownListFor(model => model.ProductClassId)
                                            .Name("ProductClassId")
                                            .DataValueField("Id")
                                            .DataTextField("Name")
                                            .HtmlAttributes(new { style = "width:100%;" })
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("ProductClass_Read", "Product");
                                                });
                                            })
                                    )
                                    @Html.ValidationMessageFor(model => model.ProductClassId)
                                </div>

                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductVendorId, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @(Html.Kendo().DropDownListFor(model => model.ProductVendorId)
                                            .Name("ProductVendorId")
                                            .DataValueField("Id")
                                            .DataTextField("Name")
                                            .HtmlAttributes(new { style = "width:100%;" })
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("ProductVendor_Read", "Product");
                                                });
                                            })
                                    )
                                    @Html.ValidationMessageFor(model => model.ProductVendorId)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @Html.HiddenFor2(x => Model.HasVariant, new { @id = "hiddenHasVariant" })
    @if (Model.HasVariant == true)
    {
            @Html.HiddenFor2(x => Model.InventoryOptionId, new { @id = "hiddenInventoryOptionId" })
            @Html.HiddenFor2(x => Model.HasMemberPrice, new { @id = "hiddenHasMemberPrice" })

            <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Variants</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-md-12">    

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.VariantInventoryOptionId, new { @class = "control-label col-md-2" })
                                            <div class="col-md-8">
                                                @(Html.Kendo().DropDownListFor(model => model.VariantInventoryOptionId)
                                                        .Name("VariantInventoryOptionId")
                                                        .DataValueField("Value")
                                                        .DataTextField("Text")
                                                        .HtmlAttributes(new { style = "width:100%;" })
                                                        .Events(e => e.Change("VariantInventoryOption_change"))
                                                        .BindTo(new List<SelectListItem>() {
                                                                new SelectListItem() {
                                                                    Text = "Track inventory for this product",
                                                                    Value = "0"
                                                                },
                                                                new SelectListItem() {
                                                                    Text = "Do not track inventory for this product",
                                                                    Value = "1"
                                                                },

                                                            })
                                                )
                                                @Html.ValidationMessageFor(model => model.VariantInventoryOptionId)

                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-success btn-sm pull-right btn-block" onclick="btnAddProductVariant_click(@Model.Id)"><i class="fa fa-plus"></i> &nbsp; Add Variant</button>
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ProductOptionId, new { @class = "control-label col-md-2" })
                                            <div class="col-md-8">
                                                @(Html.Kendo().DropDownListFor(model => model.ProductOptionId)
                                                .Name("ProductOptionId")
                                                .DataValueField("Id")
                                                .DataTextField("Name")
                                                .HtmlAttributes(new { style = "width:100%;" })
                                                .Events(e => e.Change("ddlProductOption_change"))
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("ProductOption_Read", "Product");
                                                    });
                                                })
                                                )
                                                @Html.ValidationMessageFor(model => model.ProductOptionId)

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.VariantHasMemberPrice, new { @class = "control-label col-md-2" })
                                            <div class="col-md-8">
                                                @(Html.Kendo().DropDownListFor(model => model.VariantHasMemberPrice)
                                                .Name("VariantHasMemberPrice")
                                                .DataValueField("Value")
                                                .DataTextField("Text")
                                                .HtmlAttributes(new { style = "width:100%;" })
                                                .Events(e => e.Change("ddlEditVariantHasMemberPrice_change"))
                                                .BindTo(new List<SelectListItem>() {
                                                        new SelectListItem() {
                                                            Text = "No",
                                                            Value = "0"
                                                        },
                                                        new SelectListItem() {
                                                            Text = "Yes",
                                                            Value = "1"
                                                        },

                                                    })
                                                )
                                                @Html.ValidationMessageFor(model => model.VariantHasMemberPrice)

                                            </div>
                                        </div>

                                        @Html.HiddenFor2(m => m.ProductOptionId)
                                        <div class="row">
                                            <table id="tblProductVariant" class="table">

                                                <tr class="gray-bg">
                                                    <th class="td1"></th>
                                                    @*<th class="td2" style="text-align:center"><i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;Option</th>*@
                                                    <th class="td3" style="text-align:center"><i class="fa fa-cube"></i>&nbsp;&nbsp;&nbsp;Variant</th>
                                                    <th class="td4" style="text-align:center"><i class="fa fa-barcode"></i>&nbsp;&nbsp;&nbsp;Barcode</th>
                                                    <th class="td5" style="text-align:center"><i class="fa fa-cubes"></i>&nbsp;&nbsp;&nbsp;Quantity</th>
                                                    <th class="td6" style="text-align:center"><i class="fa fa-money"></i>&nbsp;&nbsp;&nbsp;Retail Price</th>
                                                    <th class="td7" style="text-align:center"><i class="fa fa-money"></i>&nbsp;&nbsp;&nbsp;Member Price</th>
                                                    <th class="td8"></th>
                                                </tr>

                                                @for (int i = 0; i < Model.ProductVariants.Count(); i++)
                                                {
                                                    <tr id="@Model.ProductVariants[i].Id">
                                                        <td class="td1">
                                                            @Html.HiddenFor(m => m.ProductVariants[i].Id)
                                                        </td>
                                                       

                                                        <td class="td3" style="text-align:center; vertical-align:middle;">
                                                            @(Html.Kendo().TextBoxFor(m => m.ProductVariants[i].ProductOptionValue)
                                                            .HtmlAttributes(new { style = "text-align:center;" })
                                                            )
                                                        </td>

                                                        <td class="td4" style="text-align:center">
                                                            @(Html.Kendo().TextBoxFor(m => m.ProductVariants[i].Barcode)
                                                            .HtmlAttributes(new { style = "text-align:center;" }))
                                                        </td>

                                                        <td class="td5" style="text-align:center">
                                                            @(Html.Kendo().NumericTextBoxFor(m => m.ProductVariants[i].Quantity)
                                                            .Format("#")
                                                            .HtmlAttributes(new { style = "text-align:center;" }))
                                                        </td>
                                                        <td class="td6" style="text-align:center">
                                                            @(Html.Kendo().NumericTextBoxFor(m => m.ProductVariants[i].RetailPrice)
                                                        .HtmlAttributes(new { style = "text-align:center;" }))

                                                        </td>
                                                        <td class="td7" style="text-align:center; vertical-align:middle;">
                                                            @(Html.Kendo().NumericTextBoxFor(m => m.ProductVariants[i].MemberPrice)
                                                        .HtmlAttributes(new { style = "text-align:center;" }))
                                                        </td>
                                                        <td class="td8" style="text-align:center; vertical-align:middle;">
                                                            <button type="button" class="btn btn-sm btn-danger" onclick="btnDeleteVariant_click(@Model.ProductVariants[i].Id)"><i class="fa fa-trash-o"></i></button>

                                                        </td>
                                                    </tr>
                                                }

                                            </table>
                                        </div>

                                        </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
        }

            @if (Model.HasVariant == false)
            {
            <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Variants</h5>
                            </div>

                            <div class="ibox-content">

                                Does this product come in multiple variations like size or color?

                                <input type="button" id="btnCancelVariant" value="Cancel" onclick="btnCancelVariant_click()" class="btn btn-default btn-sm hidden" style="float: right;" />
                                <input type="button" id="btnAddVariant" value="Add Variants" onclick="btnAddVariant_click()" class="btn btn-success btn-sm " style="float: right;" />
                                <br /><br /><br />


                                <div id="OptionContainer" class="hidden">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ProductOptionId, new { @class = "control-label col-md-2" })
                                        <div class="col-md-8">
                                            @(Html.Kendo().DropDownListFor(model => model.ProductOptionId)
                                                .Name("ProductOptionId")
                                                .DataValueField("Id")
                                                .DataTextField("Name")
                                                .HtmlAttributes(new { style = "width:100%;" })
                                                .Events(e => e.Change("ddlProductOption_change"))
                                                .DataSource(source =>
                                                {
                                                    source.Read(read =>
                                                    {
                                                        read.Action("ProductOption_Read", "Product");
                                                    });
                                                })
                                            )
                                            @Html.ValidationMessageFor(model => model.ProductOptionId)
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-success btn-sm pull-right btn-block" onclick="btnAddSpecificationItem_click('option')"><i class="fa fa-plus"></i> &nbsp; Add New</button>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        @Html.Label("Option Values", new { @class = "control-label col-md-2" })
                                        <div class="col-md-8">
                                            <input type="text" id="listOptionOneValue" data-role="tagsinput">
                                        </div>
                                        <div class="col-md-2">
                                            <i class="glyphicon glyphicon-question-sign" title="Seperate values with a comma" rel="tooltip"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (Model.HasVariant == false)
            {
                @* Pricing and Inventory *@
            <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Product Pricing and Inventory</h5>
                            </div>
                            <div class="ibox-content">
                                <div id="single-variant-container">
                                    <div class="form-group">

                                        @Html.LabelFor(model => model.RetailPrice, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @(Html.Kendo().NumericTextBoxFor(model => model.RetailPrice)
                                                .Name("RetailPrice")
                                                .Format("c")
                                                .HtmlAttributes(new { style = "width: 100%" })
                                            )
                                            @Html.ValidationMessageFor(model => model.RetailPrice)
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MembersPrice, new { @class = "control-label col-md-2" })
                                        <div class="col-md-8">
                                            @(Html.Kendo().NumericTextBoxFor(model => model.MembersPrice)
                                            .Name("MembersPrice")
                                            .Format("c")
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            )
                                        </div>
                                        <div class="col-md-2">
                                            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                                <button type="button" id="HasMemberEnable" class="btn btn-default" onclick="HasMemberPrice_toggle('enable')">Enable</button>
                                                <button type="button" id="HasMemberDisable" class="btn btn-primary" onclick="HasMemberPrice_toggle('disable')">Disable</button>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Barcode, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @(Html.Kendo().TextBoxFor(m => m.Barcode)
                                                            .HtmlAttributes(new { style = "width:100%;" })
                                            )
                                            @Html.ValidationMessageFor(model => model.Barcode)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.InventoryOptionId, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @(Html.Kendo().DropDownListFor(model => model.InventoryOptionId)
                                .Name("InventoryOptionId")
                                .DataValueField("Value")
                                .DataTextField("Text")
                                .HtmlAttributes(new { style = "width:100%;" })
                                .Events(e => e.Change("ddlInventoryOptionEdit_change"))
                                .BindTo(new List<SelectListItem>() {
                                    new SelectListItem() {
                                        Text = "Track inventory for this product",
                                        Value = "0"
                                    },
                                    new SelectListItem() {
                                        Text = "Do not track inventory for this product",
                                        Value = "1"
                                    }
                                })
                                .Value(Model.InventoryOptionId.ToString())
                                            )
                                            @Html.ValidationMessageFor(model => model.InventoryOptionId)
                                        </div>
                                    </div>

                                    <div class="form-group" id="InventoryContainer">

                                        @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @(Html.Kendo().NumericTextBoxFor(model => model.Quantity)
                                            .Name("Quantity")
                                            .Format("#")
                                            .Decimals(0)
                                            .HtmlAttributes(new { @style = "width: 100%" })
                                            )
                                            @Html.ValidationMessageFor(model => model.Quantity)
                                        </div>

                                    </div>
                                </div>
                                @Html.HiddenFor2(x => Model.InventoryOptionId, new { @id = "hiddenInventoryOptionId" })
                                @Html.HiddenFor2(x => Model.HasMemberPrice, new { @id = "hiddenHasMemberPrice" })


                                <div id="VariantContainer" class="hidden">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.VariantInventoryOptionId, new { @class = "control-label col-md-2" })
                                        <div class="col-md-8">
                                            @(Html.Kendo().DropDownListFor(model => model.VariantInventoryOptionId)
                                                    .Name("VariantInventoryOptionId")
                                                    .DataValueField("Value")
                                                    .DataTextField("Text")
                                                    .HtmlAttributes(new { style = "width:100%;" })
                                                    .Events(e => e.Change("ddlVariantInventoryOption_change"))
                                                    .BindTo(new List<SelectListItem>() {
                                                            new SelectListItem() {
                                                                Text = "Track inventory for this product",
                                                                Value = "0"
                                                            },
                                                            new SelectListItem() {
                                                                Text = "Do not track inventory for this product",
                                                                Value = "1"
                                                            },

                                                        })
                                            )
                                            @Html.ValidationMessageFor(model => model.VariantInventoryOptionId)
                                        </div>
                                     
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.VariantHasMemberPrice, new { @class = "control-label col-md-2" })
                                        <div class="col-md-8">
                                            @(Html.Kendo().DropDownListFor(model => model.VariantHasMemberPrice)
                                                .Name("VariantHasMemberPrice")
                                                .DataValueField("Value")
                                                .DataTextField("Text")
                                                .HtmlAttributes(new { style = "width:100%;" })
                                                .Events(e => e.Change("ddlVariantHasMemberPrice_change"))
                                                .BindTo(new List<SelectListItem>() {
                                                      new SelectListItem() {
                                                          Text = "No",
                                                          Value = "0"
                                                      },
                                                      new SelectListItem() {
                                                          Text = "Yes",
                                                          Value = "1"
                                                      },

                                                  })
                                            )
                                            @Html.ValidationMessageFor(model => model.VariantHasMemberPrice)
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                            <table class="table" id="tblVariants">
                                                <thead>

                                                </thead>
                                                <tbody></tbody>
                                            </table>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            }
            <div class="row">
                                <div class="col-lg-8 col-lg-offset-2">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-footer">
                                            <div class="form-group" style="margin-bottom:0; margin-top:5px">
                                                <div class="col-md-offset-2 col-md-10 text-right">
                                                    <input type="submit" value="Save Changes" class="btn btn-primary" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            }

                    </div>

<div class="modal inmodal fade" id="productVariantModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content fadeIn" gray-bgid="ModalContent">
            <div id="DeleteVariantContainer"></div>
            <div id="ProductVariantModalContainer"></div>
        </div>
    </div>
</div>
