﻿@model TennisManager.Models.ProductViewModel

<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <table id="tblPlayer" class="table">

                <tr class="gray-bg">

                    <th style="text-align:center"><i class="fa fa-cube"></i>&nbsp;&nbsp;&nbsp;Variant</th>
                    <th style="text-align:center"><i class="fa fa-barcode"></i>&nbsp;&nbsp;&nbsp;Barcode</th>
                    @if (Model.InventoryOption == Products.InventoryOption.track)
                    {
                        <th style="text-align:center"><i class="fa fa-cubes"></i>&nbsp;&nbsp;&nbsp;Quantity</th>
                    }
                    <th style="text-align:center"><i class="fa fa-money"></i>&nbsp;&nbsp;&nbsp;Retail Price</th>
                    @if (Model.HasMemberPrice == true)
                    {
                        <th style="text-align:center"><i class="fa fa-money"></i>&nbsp;&nbsp;&nbsp;Member Price</th>
                    }
                </tr>

                @foreach (var item in Model.ProductVariants)
                {
                    <tr data-uid="@item.Id">
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.ProductOptionValue)
                        </td>

                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.Barcode)
                        </td>
                        @if (Model.InventoryOption == Products.InventoryOption.track)
                        {
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        }
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.RetailPrice)
                        </td>
                        @if (Model.HasMemberPrice == true)
                        {
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.MemberPrice)
                            </td>
                        }
                    </tr>
                }

            </table>


        </div>
    </div>
</div>
