﻿@model TennisManager.Models.ProductViewModel

<div class="wrapper wrapper-content animated fadeIn">

    <div class="col-md-10 col-md-offset-1">

        @if (Model.HasImages == true)
            {

            @Html.AntiForgeryToken()
            <div class="table-responsive">
                <table class="table table-bordered table-stripped">
                    <thead>
                        <tr>
                            <th>
                                Image preview
                            </th>
                            <th>
                                Image Name
                            </th>
                            <th>
                                Image Url
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Images)
                        {
                            <tr>
                                <td class="text-center td-product-img"><img src="@item.Url" class="img-edit-product" /></td>

                                <td>@item.Name</td>

                                <td width="40%">
                                    <input type="text" class="form-control" disabled value="@item.Url">

                                </td>
                                <td width="20%">
                                    <button class="btn btn-danger center-block" id="btnDeleteImage" onclick="btnDeleteImages_click(@item.Product.Id, @item.Id)"><i class="fa fa-trash"></i>&nbsp;&nbsp;&nbsp;Delete Image</button>

                                </td>
                            </tr>
                        }

                    </tbody>

                </table>

            </div>

        }

        @using (Html.BeginForm("UploadImage", "Product", FormMethod.Post, new { id = "addproductimageform", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(x => Model.Id)
            <div class="row">
                <div class="col-md-6 col-lg-offset-3">
                    <div class="form-group" style="margin-bottom: 0px;">

                        @(Html.Kendo().Upload()
                                        .Name("ProductImage")
                                        .HtmlAttributes(new { accept = "image/*" })
                                        .Multiple(true)
                        )
                        <br />

                        <button type="submit" class="btn btn-primary center-block" id="btnUploadImages" onclick="btnUploadImages_click()"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;Upload Images</button>

                    </div>
                </div>
            </div>

        }


    </div>
</div>

    <div class="modal inmodal fade" id="ImageDeleteModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                @using (Html.BeginForm("DeleteImage", "Product", FormMethod.Post, new { id = "addproductimageform", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => Model.Id, new { @id = "ProductId" })

                    @Html.HiddenFor(x => Model.ImageDeleteId, new { @id = "ProductImageId" })

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Delete Image</h4>
                    </div>
                    <div class="modal-body">
                        <p class="text-center">
                            <strong>Are you sure you want to delete this image?</strong>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Yes</button>
                    </div>
                }
            </div>
        </div>
    </div>
