﻿@model TennisManager.Models.ProductViewModel

@{
    ViewBag.Title = "Details";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Product Details</h2>
    </div>
        <div class="col-sm-8">
        <div class="title-action">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeIn ecommerce">
    @Html.HiddenFor(x => Model.Id, new { @id = "hiddenProductId" })


    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active tab1"><a data-toggle="tab" href="#product-info" data-uid="@Model.Id"> Product info</a></li>
                    <li class="tab2"><a data-toggle="tab" href="#product-discount" data-uid="@Model.Id"> Discount</a></li>
                    <li class="tab3"><a data-toggle="tab" href="#product-images" data-uid="@Model.Id"> Images</a></li>


                </ul>
                <div class="tab-content">
                    <div id="product-info" class="tab-pane active">
                        <div class="panel-body">
                            <div id="ProductInfoContainer">
                                @Html.Partial("_ViewProductInfo")
                            </div>
                        </div>
                    </div>

                    <div id="product-discount" class="tab-pane active">
                        <div class="panel-body">
                            <div id="ProductDiscountContainer"></div>
                        </div>
                    </div>

                    <div id="product-images" class="tab-pane">
                        <div class="panel-body">
                            <div id="ProductImageContainer"></div>
                        </div>
                    </div>


</div>
</div>
</div>
</div>
</div>

<div class="modal inmodal fade" id="specificationModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content fadeIn" gray-bgid="ModalContent">
            <div id="SpecificationContainer"></div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/Scripts/mjenta/editproduct.js")
    @Scripts.Render("~/Scripts/mjenta/createproduct.js")
    @Scripts.Render("~/Scripts/plugins/tagsinput/bootstrap-tagsinput.js")
    @Scripts.Render("~/Scripts/plugins/switch/bootstrap-switch.js")
    }

@section Styles {
    @Styles.Render("~/Content/mjenta/product.css")
    @Styles.Render("~/Content/bootstrap-tagsinput.css")
    @Styles.Render("~/Content/plugins/switch/bootstrap-switch.css")
}