﻿@model TennisManager.Models.RegisterMemberViewModel
@using Clubs;
@using Microsoft.AspNet.Identity;
@using Members;
@using Classification;
@{
    string userId = User.Identity.GetUserId();
    int id = System.Convert.ToInt32(userId);
    Users.User user = Users.User.LoadOneById(id);

    //Get Admin and Club Identity
    ClubAdmin admin = ClubAdmin.LoadOneByUser(id);
    Club club = Club.LoadOneById(admin.ClubId);
    
    //Get Club Membership Types
    IEnumerable<MembershipType> membershipTypeList = MembershipTypeCollection.LoadAllByClub(club.Id);

    //Get Club Membership Types
    IEnumerable<Gender> genderList = GenderCollection.LoadAll();
    var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();

}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@club.FullName | Register Member</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg">
    @*<div class="wrapper wrapper-content animated fadeInRight text-center">

        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Create a new member account.
                </h1>
            </div>*@



            <div class="middle-box text-center animated fadeInDown">
                <div>
                    <h2>
                        Create a new member account.
                    </h2>
                    @using (Html.BeginForm("RegisterMember", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <hr />
                        
                        @Html.ValidationSummary()
                        <div class="form-group">

                            @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })

                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-4 control-label" })

                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(m => m.LastName, new { @class = "col-md-4 control-label" })

                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                            </div>
                        </div>
   
                        <div class="form-group">

                            @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-4 control-label" })

                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(m => m.Postcode, new { @class = "col-md-4 control-label" })

                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Postcode, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">

                            @Html.LabelFor(m => m.Gender, new { @class = "col-md-4 control-label" })

                            <div class="col-md-8">
                                @(Html.Kendo().DropDownListFor(m => m.Gender)
                        .Name("Gender")
                        .OptionLabel("--- Select ---")
                        .HtmlAttributes(new { @class = "form-control" })
                        .DataTextField("Name")
                        .DataValueField("Id")
                    .BindTo(genderList)
                                )
                            </div>
                        </div>

                        <div class="form-group">

                            @Html.LabelFor(m => m.TennisId, new { @class = "col-md-4 control-label" })

                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.TennisId, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">

                            @Html.LabelFor(m => m.MembershipType, new { @class = "col-md-4 control-label" })

                            <div class="col-md-8">

                     @(Html.Kendo().DropDownListFor(m => m.MembershipType)
                        .Name("MembershipType")
                        .OptionLabel("--- Select ---")
                        .HtmlAttributes(new { @class = "form-control" })
                        .DataTextField("Name")
                        .DataValueField("Id")
                        .BindTo(membershipTypeList)
                            )


                            </div>
                        </div>

                        <br />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-8">
                                <input type="submit" class="btn btn-primary" value="Register" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        @*</div>
    </div>*@
    <br />
    <br />
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


