﻿@model TennisManager.Models.CustomerViewModel

@{
    ViewBag.Title = "Index";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Coach List</h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of Coaches</h5>
                    <div class="ibox-tools">
                        @Html.ActionLink("Create New Coach", "Create", null, new { @class = "btn btn-primary btn-xs" })
                    </div>
                </div>



                <div class="ibox-content" style="min-height:70vh;">
                    <div class="row">
                        <div class="col-md-12">
                           
                     
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@*<script src="@Url.Content("~/Scripts/mjenta/coach.js")"></script>
@section Styles {
    @Styles.Render("~/Content/mjenta/customer.css")
}*@