﻿ .invalid-slot {
        background: red !important;
        cursor: no-drop;
    }

    .k-edit-buttons {
        text-align: center;
    }

    .k-window-titlebar {
        background-color: transparent;
        border-color: transparent;
    }

    .rsApt {
        margin-left: 0 !important;
    }

    html, body {
        overflow: hidden;
    }

    #BookingScheduler .k-event.k-state-selected {
        color: #fff;
        background-color: #428bca;
        border-color: #428bca;
    }


    #BookingScheduler .k-event {
       width: 100%;
    }

    #BookingScheduler .k-state-selected {
        background-color: transparent;
        color: transparent;
        border-color: transparent;
    }

        #BookingScheduler .k-today {
        background-color: transparent;
        /*color: inherit;*/
        border-color: #e8e8e8;

    }


    #window {
        overflow-x: hidden;
    }

    .row {
        margin: 0;
    }

    .k-popup-edit-form.k-scheduler-edit-form.k-window-content.k-content {
        padding-top: 0 !important;
    }

    .invisible {
        display: none;
    }

  .vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}


html, body { height: 100%;}




@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}

.btn-fullsize {
    height: 80px;
    width: 100%;
}

.row-height {
    height: 75px;
}

@media (max-width: 768px) {
  .col-xs-2, col-xs-4, col-xs-5 {
    text-align: center;
  }
}

.ui-widget-overlay {
    opacity: 0 !important;
    filter: alpha(opacity=0);  /* IE8 and lower */
}

.ui-dialog .ui-dialog-content {
    padding:0 !important;
}

.ui-dialog {
    padding:0 !important;
}

.k-content{
    height:80px !important;
}
.k-checkbox-label{
    padding-top:3px;
}

.k-multiselect-wrap>.k-input {
   font-style: normal;
   color: #C5C5C5;
   font-size: 14px;
}

.k-class-date-selected > .k-link {
    color: #fff !important;
    background-color: #428bca;
    border-color: #428bca;
}

@media (min-width: 1200px) {
    .modal-xl {
        width: 1200px !important;
    }
}

.elements-list .list-group-item.active {
    border-radius: 5px !important;
    background: #1a7bb9 !important;
    color: white !important;
}

.elements-list .list-group-item:hover {
    border-radius: 5px !important;

}
.elements-list .list-group-item {

    padding: 10px 10px !important;
}

.modal-grey {
    -webkit-filter: grayscale(100%);
}