﻿@model Tuple<TennisManager.Models.UpdateRacquetSpecificationModel, TennisManager.Models.UpdateRacquetRetailViewModel>
@using Users;
@using Clubs;
@using Products;
@using Sizes;
@using Suppliers;
@using Classification;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Racquet Information";

    // Get User Identity
    string userId = User.Identity.GetUserId();
    int id = System.Convert.ToInt32(userId);
    Users.User user = Users.User.LoadOneById(id);

    // Get Admin and Club Identity
    ClubAdmin admin = ClubAdmin.LoadOneByUser(id);
    Club club = Club.LoadOneById(admin.ClubId);

    Product product = ViewBag.Product;
    ProductCategory category = ProductCategory.LoadOneById(product.CategoryId);
    ProductType type = ProductType.LoadOneById(product.TypeId);
    ProductBrand brand = ProductBrand.LoadOneById(product.BrandId);
    
    if (product.isStrung == true)
    {
        ViewBag.isStrung = "Yes";
    }
    else
    {
        ViewBag.isStrung = "No";
    }

    int index = 0;
    if (product.isStrung == true)
    {
        index = 0;
    }
    else if (product.isStrung == false)
    {
        index = 1;
    }
    else if (product.isStrung == null)
    {
        index = 0;
    }

    int includeGSTIndex = 0;
    if (product.includeGST == true)
    {
        ViewBag.includeGST = "Yes";
        includeGSTIndex = 0;
    }
    else
    {
        ViewBag.includeGST = "No";
        includeGSTIndex = 1;
    }

    decimal netAmount = product.RetailPrice - product.Tax;
    
    int hasMemberPriceIndex = 0;
    if (product.hasMemberPrice == true)
    {
        ViewBag.HasMemberPrice = "Yes";
        hasMemberPriceIndex = 0;
    }
    else
    {
        ViewBag.HasMemberPrice = "No";
        hasMemberPriceIndex = 1;
    }

    
    // Get Suppliers
    IEnumerable<ProductSupplier> productSuppliers = ProductSupplierCollection.LoadAllByProduct(product.Id);
    List<int> supplierIdList = new List<int>();
    foreach (ProductSupplier p in productSuppliers)
    {
        supplierIdList.Add(p.SupplierId);
    }
    List<Supplier> supplierList = new List<Supplier>();
    foreach (int u in supplierIdList)
    {
        Supplier supplierInstance = Supplier.LoadOneById(u);
        supplierList.Add(supplierInstance);
    }
    string supplierNames = "";
    int listLastIndex = supplierList.Count();
    int listIndex = 0;
    foreach (Supplier s in supplierList)
    {
        if (supplierList.Count() == 0)
        {
            supplierNames = "";
        }
        else if (supplierList.Count() == 1)
        {
            supplierNames = s.Name;
        }
        else
        {
            if (listIndex == listLastIndex)
            {
                supplierNames += s.Name;    
            }
            else
            {
                supplierNames += s.Name + ", ";
                listIndex++;
            }
        }
    }
}

<div class="row" style="margin-top:20px;">
    <div class="col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                Racquet Specification
            </div>
            @using (Html.BeginForm("UpdateRacquetSpecification", "Proshop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <div class="panel-body">
                    <div id="racquetSpecificationDefault" class="vis">
                        <table style="border-spacing: 50px 15px; border-collapse:separate;">
                            <colgroup>
                                <col style="width: 30%;" />
                                <col style="width: 70%;" />
                            </colgroup>
                            <tr>
                                <td><b>Category</b></td>
                                <td>@Html.Raw(category.Name)</td>
                            </tr>
                            <tr>
                                <td><b>Type</b></td>
                                <td>@Html.Raw(type.Name)</td>
                            </tr>
                            <tr>
                                <td><b>Brand</b></td>
                                <td>@Html.Raw(brand.Name)</td>
                            </tr>
                            <tr>
                                <td><b>Range</b></td>
                                <td>@Html.Raw(product.Range)</td>
                            </tr>
                            <tr>
                                <td><b>Model</b></td>
                                <td>@Html.Raw(product.Model)</td>
                            </tr>
                            <tr>
                                <td><b>Year</b></td>
                                <td>@Html.Raw(product.Year)</td>
                            </tr>
                            <tr>
                                <td><b>Colour</b></td>
                                <td>@Html.Raw(product.Colour)</td>
                            </tr>
                            <tr>
                                <td><b>Length</b></td>
                                <td>@Html.Raw(product.Length)</td>
                            </tr>
                            <tr>
                                <td><b>Head Size</b></td>
                                <td>@Html.Raw(product.HeadSize)</td>
                            </tr>
                            <tr>
                                <td><b>Strung Weight</b></td>
                                <td>@Html.Raw(product.Weight)</td>
                            </tr>
                            <tr>
                                <td><b>Pre-Strung?</b></td>
                                <td>@Html.Raw(ViewBag.isStrung)</td>
                            </tr>
                            <tr>
                                <td valign="top"><b>Description</b></td>
                                <td>@Html.Raw(product.Description)</td>
                            </tr>
                        </table>
                    </div>
                    <div id="racquetSpecificationHidden" class="inv">
                        @Html.HiddenFor(m => m.Item1.ProductId, new { Value = (int)product.Id })
                        <table style="border-spacing: 50px 15px; border-collapse:separate;">
                            <colgroup>
                                <col style="width: 30%;" />
                                <col style="width: 70%;" />
                            </colgroup>
                            <tr>
                                <td><b>@Html.LabelFor(m => m.Item1.CategoryId)</b></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(m => m.Item1.CategoryId)
                                    .DataTextField("Name")
                                    .DataValueField("Id")
                                    .BindTo(ProductCategoryCollection.LoadAll())
                                    .SelectedIndex(product.CategoryId-1))
                                </td>
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(m => m.Item1.TypeId)</b></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(m => m.Item1.TypeId)
                                    .DataTextField("Name")
                                    .DataValueField("Id")
                                    .BindTo(ProductTypeCollection.LoadAllByCategory(product.CategoryId))
                                    .SelectedIndex(product.TypeId-1))
                                </td>
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(m => m.Item1.BrandId)</b></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(m => m.Item1.BrandId)
                                    .DataTextField("Name")
                                    .DataValueField("Id")
                                    .BindTo(ProductBrandCollection.LoadAll())
                                    .SelectedIndex(product.BrandId-1))
                                </td>
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(m => m.Item1.Range)</b></td>
                                <td>
                                    @(Html.Kendo().TextBoxFor(m => m.Item1.Range)
                                    .HtmlAttributes(new { @class = "form-control" })
                                    .Value((string)product.Range))
                                </td>
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(m => m.Item1.ModelName)</b></td>
                                <td>
                                    @(Html.Kendo().TextBoxFor(m => m.Item1.ModelName)
                                    .HtmlAttributes(new { @class = "form-control" })
                                    .Value((string)product.Model))
                                </td>
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(m => m.Item1.Year)</b></td>
                                <td>
                                    @(Html.Kendo().NumericTextBoxFor(m => m.Item1.Year)
                                    .Format("0000")
                                    .Min(DateTime.Now.Year - 5)
                                    .Max(DateTime.Now.Year + 5)
                                    .Value((int)product.Year))
                                </td>
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(m => m.Item1.Colour)</b></td>
                                <td>
                                    @(Html.Kendo().TextBoxFor(m => m.Item1.Colour)
                                    .HtmlAttributes(new { @class = "form-control"})
                                    .Value((string)product.Colour))
                                </td>
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(m => m.Item1.Length)</b></td>
                                <td>
                                    @(Html.Kendo().TextBoxFor(m => m.Item1.Length)
                                    .HtmlAttributes(new { @class = "form-control"})
                                    .Value((string)product.Length))
                                </td>
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(m => m.Item1.HeadSize)</b></td>
                                <td>
                                    @(Html.Kendo().TextBoxFor(m => m.Item1.HeadSize)
                                    .HtmlAttributes(new { @class = "form-control" })
                                    .Value((string)product.HeadSize))
                                </td>
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(m => m.Item1.Weight)</b></td>
                                <td>
                                    @(Html.Kendo().TextBoxFor(m => m.Item1.Weight)
                                    .HtmlAttributes(new { @class = "form-control" })
                                    .Value((string)product.Weight))
                                </td>
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(m => m.Item1.IsStrung)</b></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(m => m.Item1.IsStrung)
                                    .SelectedIndex(index)
                                    .BindTo(new List<SelectListItem>()
                                    {
                                        new SelectListItem() {
                                            Text = "Yes",
                                            Value = "true"
                                        },
                                        new SelectListItem() {
                                            Text = "No",
                                            Value = "false"
                                        }
                                    }))
                                </td>
                            </tr>
                            <tr>
                                <td valign="top"><b>@Html.LabelFor(m => m.Item1.Description)</b></td>
                                <td>
                                    @(Html.Kendo().EditorFor(m => m.Item1.Description)
                                    .Tools(tools => tools.Clear())
                                    .HtmlAttributes(new { style = "width: 550px; height: 200px;" })
                                    .Value((string)product.Description))
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div id="racquetSpecificationEditButton" class="vis">
                        <div style="width: 10%; margin: 0 auto;">
                            @(Html.Kendo().Button()
                            .Name("btnEdit1")
                            .HtmlAttributes(new { type = "button" })
                            .Content("EDIT")
                            .Events(e => e.Click("edit1")))
                        </div>
                    </div>
                    <div id="racquetSpecificationSaveCancelButtons" class="inv">
                        <div style="width: 30%; margin: 0 auto;">
                            @(Html.Kendo().Button()
                            .Name("btnSave1")
                            .HtmlAttributes(new { type = "submit" })
                            .Content("SAVE"))
                            @(Html.Kendo().Button()
                            .Name("btnCancel1")
                            .HtmlAttributes(new { type = "button" })
                            .Content("CANCEL")
                            .Events(e => e.Click("cancel1")))
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Retail Information
            </div>
            @using (Html.BeginForm("UpdateRacquetRetail", "Proshop", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <div class="panel-body">
                    <div id="racquetRetailDefault" class="vis">
                        <table style="border-spacing: 50px 15px; border-collapse:separate;">
                            <colgroup>
                                <col style="width: 30%;" />
                                <col style="width: 70%;" />
                            </colgroup>
                            <tr>
                                <td><b>Display Name</b></td>
                                <td>@Html.Raw(product.DisplayName)</td>
                            </tr>
                            <tr>
                                <td><b>Retail Price</b></td>
                                <td>$@Html.Raw(Math.Round(Convert.ToDecimal(product.RetailPrice)))</td>
                            </tr>
                            <tr>
                                <td><b>GST Inclusive?</b></td>
                                <td>@Html.Raw(ViewBag.includeGST)</td>
                            </tr>
                            <tr>
                                <td><b>GST</b></td>
                                <td>$@Html.Raw(Math.Round(Convert.ToDecimal(product.Tax)))</td>
                            </tr>
                            <tr>
                                <td><b>Net Amount</b></td>
                                <td>$@Html.Raw(Math.Round(Convert.ToDecimal(netAmount)))</td>
                            </tr>
                            <tr>
                                <td><b>Apply Membership Price?</b></td>
                                <td>@Html.Raw(ViewBag.HasMemberPrice)</td>
                            </tr>
                            <tr>
                                <td><b>Price Type</b></td>
                                <td>Variable</td>
                            </tr>
                            <tr id="priceGrid">
                                <td valign="top"><b>Membership Prices</b></td>
                                <td>
                                    @(Html.Kendo().Grid<TennisManager.Models.ProductMemberPriceViewModel>()
                                    .Name("PriceGrid")
                                    .Columns(columns =>
                                    {
                                        columns.ForeignKey(p => p.MembershipTypeId, (System.Collections.IEnumerable)Members.MembershipTypeCollection.LoadAll(), "Id", "Name").Title("Membership Type").Width(100);
                                        columns.Bound(p => p.MemberPrice).Title("Price").Format("{0:c}").Width(80);
                                    })
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Model(model => model.Id(p => p.ProductPriceId))
                                        .Read(read => read.Action("MembershipPrice_Read", "Proshop", new { id = product.Id }))
                                        .ServerOperation(false)
                                    ))
                                </td>
                            </tr>
                            <tr id="sizeGrid">
                                <td valign="top"><b>Size & Barcode</b></td>
                                <td>
                                    @(Html.Kendo().Grid<TennisManager.Models.RacquetSizeBarcodeGridViewModel>()
                                    .Name("SizeBarcodeGrid")
                                    .Columns(columns =>
                                    {
                                        columns.ForeignKey(p => p.SizeId, (System.Collections.IEnumerable)Sizes.SizeCollection.LoadAll(), "Id", "Value").Title("Grip Size").Width(130);
                                        columns.Bound(p => p.Barcode).Title("Barcode").Width(80);
                                    })
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Model(model => model.Id(p => p.ProductId))
                                        .Read(read => read.Action("SizeBarcode_Read", "Proshop", new { id = product.Id }))
                                        .ServerOperation(false)
                                    ))
                                </td>
                            </tr>
                            @if (supplierList.Count() == 0)
                            {
                                <tr>
                                    <td><b>Supplier</b></td>
                                    <td>Supplier has not been set for this product</td>
                                </tr>
                            }
                            else if (supplierList.Count == 1)
                            {
                                foreach (Supplier s in supplierList)
                                {
                                    <tr>
                                        <td><b>Supplier</b></td>
                                        <td>@Html.Raw(s.Name)</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                int elementAt = 0;
                                foreach (Supplier s in supplierList)
                                {
                                    if (elementAt == 0)
                                    {
                                        if (s.Website == String.Empty)
                                        {
                                            <tr>
                                                <td><b>Suppliers</b></td>
                                                <td>@Html.Raw(s.Name)</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td><b>Suppliers</b></td>
                                                <td><a href="http://@Convert.ToString(s.Website)">@Html.Raw(s.Name)</a></td>
                                            </tr>
                                        }
                                        elementAt++;
                                    }
                                    else
                                    {
                                        if (s.Website == String.Empty)
                                        {
                                            <tr>
                                                <td></td>
                                                <td>@Html.Raw(s.Name)</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr>
                                                <td></td>
                                                <td><a href="http://@Convert.ToString(s.Website)">@Html.Raw(s.Name)</a></td>
                                            </tr>
                                        }
                                    }
                                }
                            }
                        </table>
                    </div>
                    <div id="racquetRetailHidden" class="inv">
                        @Html.HiddenFor(m => m.Item2.ProductId, new { Value = (int)product.Id })
                        <table style="border-spacing: 50px 15px; border-collapse:separate;">
                            <colgroup>
                                <col style="width: 30%;" />
                                <col style="width: 70%;" />
                            </colgroup>
                            <tr>
                                <td><b>@Html.LabelFor(m => m.Item2.DisplayName)</b></td>
                                <td>
                                    @(Html.Kendo().TextBoxFor(m => m.Item2.DisplayName)
                                    .HtmlAttributes(new { @class = "form-control", style = "Width: 350px;" })
                                    .Value((string)product.DisplayName))
                                </td>
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(m => m.Item2.RetailPrice)</b></td>
                                <td>
                                    @(Html.Kendo().NumericTextBoxFor<double>(m => m.Item2.RetailPrice)
                                    .Format("c")
                                    .Step(0.01)
                                    .Min(0.00)
                                    .Value((double)product.RetailPrice)
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(m => m.Item2.IncludeGST)</b></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(m => m.Item2.IncludeGST)
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .SelectedIndex(includeGSTIndex)
                                    .BindTo(new List<SelectListItem>() {
                                        new SelectListItem() {
                                            Text = "Yes",
                                            Value = "1"
                                        },
                                        new SelectListItem() {
                                            Text = "No",
                                            Value = "2"
                                        }
                                    }))
                                </td>
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(m => m.Item2.GST)</b></td>
                                <td>
                                    $@Html.Raw(Math.Round(Convert.ToDecimal(product.Tax)))
                                </td>
                            </tr>
                            <tr>
                                <td><b>Net Amount</b></td>
                                <td>$@Html.Raw(Math.Round(Convert.ToDecimal(product.RetailPrice - product.Tax)))</td>
                            </tr>
                            <tr>
                                <td><b>@Html.LabelFor(m => m.Item2.HasMemberPrice)</b></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(m => m.Item2.HasMemberPrice)
                                    .HtmlAttributes(new { id = "ddlHasMemberPrice"})
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .SelectedIndex(hasMemberPriceIndex)
                                    .Events(e => e.Change("onChange"))
                                    .BindTo(new List<SelectListItem>() {
                                        new SelectListItem() {
                                            Text = "Yes",
                                            Value = "1"
                                        },
                                        new SelectListItem() {
                                            Text = "No",
                                            Value = "2"
                                        }
                                    }))
                                </td>
                            </tr>
                            
                            <tr id="memberPrice" class="vis">
                                <td><b>@Html.LabelFor(m => m.Item2.HasVariablePrice)</b></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(m => m.Item2.HasVariablePrice)
                                    .HtmlAttributes(new { id = "ddlHasVariablePrice" })
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .SelectedIndex(hasMemberPriceIndex)
                                    .BindTo(new List<SelectListItem>() {
                                        new SelectListItem() {
                                            Text = "Variable",
                                            Value = "1"
                                        },
                                        new SelectListItem() {
                                            Text = "Fixed",
                                            Value = "2"
                                        }
                                    }))
                                </td>
                            </tr>
                            <tr>
                                <td><b>Membership Prices</b></td>
                                <td>
                                    @(Html.Kendo().Grid<TennisManager.Models.ProductMemberPriceViewModel>()
                                    .Name("PriceGridEdit")
                                    .Columns(columns =>
                                    {
                                        columns.ForeignKey(p => p.MembershipTypeId, (System.Collections.IEnumerable)Members.MembershipTypeCollection.LoadAll(), "Id", "Name").Title("Membership Type").Width(100);
                                        columns.Bound(p => p.MemberPrice).Title("Price").Format("{0:c}").Width(80);
                                        columns.Command(command => { command.Edit(); }).Width(30);
                                    })
                                    .Editable(editable => editable.Mode(GridEditMode.InLine))
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Model(model => 
                                        {
                                            model.Id(p => p.ProductPriceId);
                                            model.Field(p => p.MembershipTypeId).Editable(false);
                                        })
                                        .Read(read => read.Action("MembershipPrice_Read", "Proshop", new { id = product.Id }))
                                        .Update(update => update.Action("MembershipPrice_Update", "Proshop", new { id = product.Id }))
                                        .ServerOperation(false)
                                    ))
                                </td>
                            </tr>
                            <tr>
                                <td valign="top"><b>Size & Barcode</b></td>
                                <td>
                                    @(Html.Kendo().Grid<TennisManager.Models.RacquetSizeBarcodeGridViewModel>()
                                    .Name("SizeBarcodeGridEdit")
                                    .Columns(columns =>
                                    {
                                        columns.ForeignKey(p => p.SizeId, (System.Collections.IEnumerable)Sizes.SizeCollection.LoadAll(), "Id", "Value").Title("Grip Size").Width(130);
                                        columns.Bound(p => p.Barcode).Title("Barcode").Width(80);
                                        columns.Command(command => { command.Edit(); }).Width(30);
                                    })
                                    //.ToolBar(toolbar => toolbar.Create())
                                    .Editable(editable => editable.Mode(GridEditMode.InLine))
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Model(model =>
                                        {
                                            model.Id(p => p.ProductId);
                                            model.Field(p => p.SizeId).Editable(false);
                                        })
                                        .Read(read => read.Action("SizeBarcode_Read", "Proshop", new { id = product.Id }))
                                        .Update(update => update.Action("SizeBarcode_Update", "Proshop", new { id = product.Id }))
                                        .ServerOperation(false)
                                    ))
                                </td>
                            </tr>
                            <tr>
                                <td><b>Supplier(s)</b></td>
                                <td>
                                    @(Html.Kendo().MultiSelect()
                                        .Name("SupplierMultiSelect")
                                        .DataTextField("Name")
                                        .DataValueField("Id")
                                        .Placeholder("Select supplier(s)...")
                                        .AutoBind(false)
                                        .Filter(FilterType.Contains)
                                        .Value(supplierList)
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("Supplier_Read", "Proshop");
                                            })
                                            .ServerFiltering(true);
                                        })
                                    )
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div id="racquetRetailEditButton" class="vis">
                        <div style="width: 10%; margin: 0 auto;">
                            @(Html.Kendo().Button()
                            .Name("btnEdit2")
                            .HtmlAttributes(new { type = "button" })
                            .Content("EDIT")
                            .Events(e => e.Click("edit2")))
                        </div>
                    </div>
                    <div id="racquetRetailSaveCancelButtons" class="inv">
                        <div style="width: 30%; margin: 0 auto;">
                            @(Html.Kendo().Button()
                            .Name("btnSave2")
                            .HtmlAttributes(new { type = "submit" })
                            .Content("SAVE"))
                            @(Html.Kendo().Button()
                            .Name("btnCancel2")
                            .HtmlAttributes(new { type = "button" })
                            .Content("CANCEL")
                            .Events(e => e.Click("cancel2")))
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Stock Level
            </div>
            <div class="panel-body">
                <div id="hasVariant" class="vis">
                    @(Html.Kendo().Grid<TennisManager.Models.ProductStockGridViewModel>()
                    .Name("RacquetVariantStockLevelGrid")
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.ProductId).Title("Id").Hidden(true);
                        columns.ForeignKey(p => p.SizeId, (System.Collections.IEnumerable)Sizes.SizeCollection.LoadAll(), "Id", "Value").Title("Grip Size").Width(100);
                        columns.Bound(p => p.Length).Title("Length").Width(100);
                        columns.Bound(p => p.Colour).Title("Colour").Width(100);
                        columns.Bound(p => p.IsStrung).Title("Pre-Strung?").Width(50).ClientTemplate("# if (IsStrung == true) {#Yes#} else {#No#}#");
                    })
                    .Sortable()
                    .Pageable()
                    .ClientDetailTemplateId("template")
                    //.HtmlAttributes(new { style = "height: 500px;" })
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(5)
                        .Model(model => model.Id(p => p.ProductId))
                        .Read(read => read.Action("RacquetStockLevel_Read", "Proshop", new { id = product.Id }))
                    )
                    .Events(events => events.DataBound("dataBound"))
                    )
                </div>
                <script id="template" type="text/kendo-tmpl">
                    @(Html.Kendo().Chart<TennisManager.Models.StockLevelChartViewModel>()
                    .Name("RacquetStockChart_#=ProductId#")
                    .Title("Stock Level By Facility")
                    .Legend(legend => legend
                        .Position(ChartLegendPosition.Bottom)
                    )
                    .DataSource(dataSource => dataSource
                    .Read(read => read.Action("RacquetStockLevelByFacility_Read", "Proshop", new { id = "#=ProductId#" })))
                    .Series(series =>
                        {
                            series.Column(model => model.Quantity);
                        })
                    .CategoryAxis(axis => axis
                        .Categories(model => model.FacilityId)
                        .MajorGridLines(lines => lines.Visible(false))
                        .Line(line => line.Visible(false))
                        )
                    .ValueAxis(axis => axis.Numeric()
                        .Labels(labels => labels.Format("{0:N0}"))
                        .MajorUnit(5)
                        .Max(20)
                        .Line(line => line.Visible(false))
                        )
                    .Tooltip(tooltip => tooltip
                        .Visible(true)
                        .Format("{0:N0}")
                        )
                    .ToClientTemplate()
                    )
                </script>
            </div>
            <div class="panel-footer">
                
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Sales Chart</h1>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
</div>

<script>
    function dataBound() {
        this.expandRow(this.tbody.find("tr.k-master-row").first());
    }
</script>

<script type="text/javascript">

    // page load
    $(document).ready(function () {

        @*alert("Hi");
        var memberPrice = @Html.Raw(product.hasMemberPrice);
        if (memberPrice === true)
        {
            $("#memberPrice").removeClass("inv");
            $("#memberPrice").addClass("vis");
        }
        alert("Hi 2");*@
    });
    @*$(function () {
        var memberPrice = @Html.Raw(product.hasMemberPrice);
        if (memberPrice === true)
        {
            $("#memberPrice").removeClass("inv");
            $("#memberPrice").addClass("vis");
        }
        alert("Hi");
    });*@

    // btnEdit event
    function edit1(e) {
        $("#racquetSpecificationDefault").removeClass("vis");
        $("#racquetSpecificationDefault").addClass("inv");
        $("#racquetSpecificationEditButton").removeClass("vis");
        $("#racquetSpecificationEditButton").addClass("inv");

        $("#racquetSpecificationHidden").removeClass("inv");
        $("#racquetSpecificationHidden").addClass("vis");
        $("#racquetSpecificationSaveCancelButtons").removeClass("inv");
        $("#racquetSpecificationSaveCancelButtons").addClass("vis");
    }

    // btnCancel event
    function cancel1(e) {
        $("#racquetSpecificationDefault").removeClass("inv");
        $("#racquetSpecificationDefault").addClass("vis");
        $("#racquetSpecificationEditButton").removeClass("inv");
        $("#racquetSpecificationEditButton").addClass("vis");

        $("#racquetSpecificationHidden").removeClass("vis");
        $("#racquetSpecificationHidden").addClass("inv");
        $("#racquetSpecificationSaveCancelButtons").removeClass("vis");
        $("#racquetSpecificationSaveCancelButtons").addClass("inv");
    }

    function edit2(e) {
        $("#racquetRetailDefault").removeClass("vis");
        $("#racquetRetailDefault").addClass("inv");
        $("#racquetRetailEditButton").removeClass("vis");
        $("#racquetRetailEditButton").addClass("inv");

        $("#racquetRetailHidden").removeClass("inv");
        $("#racquetRetailHidden").addClass("vis");
        $("#racquetRetailSaveCancelButtons").removeClass("inv");
        $("#racquetRetailSaveCancelButtons").addClass("vis");

        var ddlHasMemberPriceValue = $('#ddlHasMemberPrice').val();
        
        
    }

    function cancel2(e) {
        $("#racquetRetailDefault").removeClass("inv");
        $("#racquetRetailDefault").addClass("vis");
        $("#racquetRetailEditButton").removeClass("inv");
        $("#racquetRetailEditButton").addClass("vis");

        $("#racquetRetailHidden").removeClass("vis");
        $("#racquetRetailHidden").addClass("inv");
        $("#racquetRetailSaveCancelButtons").removeClass("vis");
        $("#racquetRetailSaveCancelButtons").addClass("inv");
    }

    function onChange(e) {
        var ddlHasMemberPriceValue = $('#ddlHasMemberPrice').val();
        alert(ddlHasMemberPriceValue);

        //if (ddlHasMemberPriceValue === 2) {
        //    $("#ddlHasVariablePrice").prop("disabled", true);
        //} else {

        //}

        //$("#ddlHasMemberPrice option[value='2']").attr("disabled", "disabled");
        //$("#ddlHasMemberPrice option[value='1']").removeAttr("disabled");

        //if (ddlHasMemberPriceValue == 2) {
        //    $("#ddlHasVariablePrice").data("tDropDownList").disable();
        //} else {
        //    $("#ddlHasVariablePrice").data("tDropDownList").enable();
        //}
    }

    function additionalData() {

        //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        //id = dataItem.ProductId;

        var grid = $("#RacquetVariantStockLevelGrid").data("kendoGrid")
        var selectedItem = grid.dataItem(grid.select());
        alert(selectedItem);
        //selectedItem.each(function () {
        //    var record = this.data();
        //    alert(record.Id);
        //})


        //return {
        //    Id: id
        //};
    }

</script>



<style type="text/css">
    #PriceGrid .k-grid-header .k-header {
        background-color: #1ab394;
        color: white;
    }
    #SizeBarcodeGrid .k-grid-header .k-header {
        background-color: #1ab394;
        color: white;
    }
</style>