﻿<div class="row" style="margin-top:20px;">
    <div class="col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                Shoe Specification
            </div>
            <div class="panel-body">
                <div id="productDetailsDefault" class="vis">

                </div>
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Retail Information
            </div>
            <div class="panel-body">

            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Stock Level
            </div>
            <div class="panel-body">

            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Sales Chart</h1>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
</div>