﻿@using Products;
@{
    ViewBag.Title = "ProductInformation";

    Product product = ViewBag.Product;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Member Profile</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("ViewProducts2", "Proshop")">View Members</a>
            </li>
            <li class="active">
                <strong><a href="@Url.Action("ProductInformation2", "Proshop")">Product Information 2</a></strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="widget-head-color-box navy-bg p-lg text-left">
                <img src="~/Content/images/aeropro-drive.jpg" class="img-circle circle-border m-b-md" alt="profile">
                <h1>@Html.Raw(product.DisplayName)</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1">Product Details</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-2">Retail Information</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-3">Stock Level</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-4">Sales History</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-5">Supplier</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            Product Details
                                        </div>
                                        <div class="panel-body">

                                        </div>
                                        <div class="panel-footer">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <strong>Donec quam felis</strong>

                            <p>
                                Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects
                                and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath
                            </p>

                            <p>
                                I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
                                sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.
                            </p>
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            <strong>Donec quam felis</strong>

                            <p>
                                Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects
                                and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath
                            </p>

                            <p>
                                I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
                                sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.
                            </p>
                        </div>
                    </div>
                    <div id="tab-4" class="tab-pane">
                        <div class="panel-body">
                            <strong>Donec quam felis</strong>

                            <p>
                                Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects
                                and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath
                            </p>

                            <p>
                                I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
                                sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.
                            </p>
                        </div>
                    </div>
                    <div id="tab-5" class="tab-pane">
                        <div class="panel-body">
                            <strong>Donec quam felis</strong>

                            <p>
                                Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects
                                and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath
                            </p>

                            <p>
                                I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
                                sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.
                            </p>
                        </div>
                    </div>
                    <div id="tab-6" class="tab-pane">
                        <div class="panel-body">
                            <strong>Donec quam felis</strong>

                            <p>
                                Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects
                                and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath
                            </p>

                            <p>
                                I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
                                sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.
                            </p>
                        </div>
                    </div>
                    <div id="tab-7" class="tab-pane">
                        <div class="panel-body">
                            <strong>Donec quam felis</strong>

                            <p>
                                Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects
                                and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath
                            </p>

                            <p>
                                I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite
                                sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

    <div class="row m-t-lg">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#tab-10">
                            This is tab
                            <span class="label label-warning">NEW</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab-10" class="tab-pane active">
                        <div class="panel-body">
                            <strong>Lorem ipsum dolor sit amet, consectetuer adipiscing</strong>

                            <p>
                                A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of
                                existence in this spot, which was created for the bliss of souls like mine.
                            </p>

                            <p>
                                I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at
                                the present moment; and yet I feel that I never was a greater artist than now. When.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>

<script type="text/javascript">

    var id = "";

    // btnEdit event
    function edit1(e) {
        $("#basicInfoDefault").removeClass("vis");
        $("#basicInfoDefault").addClass("inv");
        $("#basicInfoEditButton").removeClass("vis");
        $("#basicInfoEditButton").addClass("inv");

        $("#basicInfoHidden").removeClass("inv");
        $("#basicInfoHidden").addClass("vis");
        $("#basicInfoSaveCancelButtons").removeClass("inv");
        $("#basicInfoSaveCancelButtons").addClass("vis");
    }

    // btnCancel event
    function cancel1(e) {
        $("#basicInfoDefault").removeClass("inv");
        $("#basicInfoDefault").addClass("vis");
        $("#basicInfoEditButton").removeClass("inv");
        $("#basicInfoEditButton").addClass("vis");

        $("#basicInfoHidden").removeClass("vis");
        $("#basicInfoHidden").addClass("inv");
        $("#basicInfoSaveCancelButtons").removeClass("vis");
        $("#basicInfoSaveCancelButtons").addClass("inv");
    }

    function edit2(e) {
        $("#addressDefault").removeClass("vis");
        $("#addressDefault").addClass("inv");
        $("#addressEditButton").removeClass("vis");
        $("#addressEditButton").addClass("inv");

        $("#addressHidden").removeClass("inv");
        $("#addressHidden").addClass("vis");
        $("#addressSaveCancelButtons").removeClass("inv");
        $("#addressSaveCancelButtons").addClass("vis");
    }

    function cancel2(e) {
        $("#addressDefault").removeClass("inv");
        $("#addressDefault").addClass("vis");
        $("#addressEditButton").removeClass("inv");
        $("#addressEditButton").addClass("vis");

        $("#addressHidden").removeClass("vis");
        $("#addressHidden").addClass("inv");
        $("#addressSaveCancelButtons").removeClass("vis");
        $("#addressSaveCancelButtons").addClass("inv");
    }


</script>

<style>
    .vis {
        visibility: visible;
    }

    .inv {
        display: none;
    }

    .button {
        align-content: center;
    }
</style>