﻿@using Products;
@{
    ViewBag.Title = "ProductInformation";

    Product product = ViewBag.Product;

}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Product Information</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("ViewProducts", "Proshop")">Products</a>
            </li>
            <li class="active">
                <strong><a href="@Url.Action("ProductInformation", "Proshop")">@product.DisplayName</a></strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="widget-head-color-box navy-bg p-lg text-left">
                <img src="~/Content/images/aeropro-drive.jpg" class="img-circle circle-border m-b-md" alt="profile">
                <h1>@product.DisplayName</h1>
            </div>
        </div>
    </div>
    <div id="partial">
        @{Html.RenderAction("RenderPartial", "Proshop", new { id = product.Id }); }
    </div>
</div>


<script type="text/javascript">
    (function () {
        function ls() {
            var c = document.cookie.split(';');
            for (var i = 0; i < c.length; i++) {
                var p = c[i].split('=');
                if (p[0] == 'scrollPosition') {
                    p = unescape(p[1]).split('/');
                    for (var j = 0; j < p.length; j++) {
                        var e = p[j].split(',');

                        try {
                            if (e[0] == 'window') {
                                window.scrollTo(e[1], e[2]);
                            }
                            else if (e[0]) {
                                var o = document.getElementById(e[0]);
                                o.scrollLeft = e[1];
                                o.scrollTop = e[2];
                            }
                        } catch (ex) { }
                    } return;
                }
            }
        };

        function ss() {
            var s = 'scrollPosition=';
            var l, t;
            if (window.pageXOffset !== undefined) {
                l = window.pageXOffset;
                t = window.pageYOffset;
            }
            else if (document.documentElement && document.documentElement.scrollLeft !== undefined) {
                l = document.documentElement.scrollLeft;
                t = document.documentElement.scrollTop;
            }
            else {
                l = document.body.scrollLeft;
                t = document.body.scrollTop;
            }
            if (l || t) {
                s += 'window,' + l + ',' + t + '/';
            }
            var es = (document.all) ? document.all : document.getElementsByTagName('*');
            for (var i = 0; i < es.length; i++) {
                var e = es[i];
                if (e.id && (e.scrollLeft || e.scrollTop)) {
                    s += e.id + ',' + e.scrollLeft + ',' + e.scrollTop + '/';
                }
            }
            document.cookie = s + ';';
        }
        var a, p;
        if (window.attachEvent) {
            a = window.attachEvent; p = 'on';
        }
        else {
            a = window.addEventListener; p = '';
        }
        a(p + 'load', function () {
            ls();
            if (typeof Sys != 'undefined' && typeof Sys.WebForms != 'undefined') {
                Sys.WebForms.PageRequestManager.getInstance().add_endRequest(ls);
                Sys.WebForms.PageRequestManager.getInstance().add_beginRequest(ss);
            }
        }, false);
        a(p + 'unload', ss, false);
    })();
</script>


<style>
    .vis {
        visibility: visible;
    }

    .inv {
        display: none;
    }

    .button {
        align-content: center;
    }
</style>