﻿@{
    ViewBag.Title = "ViewProducts2";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Products</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li class="active">
                <strong><a href="@Url.Action("ViewProducts2", "Proshop")">Products</a></strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="widget-head-color-box navy-bg p-lg text-left">
                <h1>Product Search</h1>
            </div>
        </div>
    </div>
    @(Html.Kendo().Grid<Products.Product>()
    .Name("ProductGrid")
    .Columns(columns =>
    {
        columns.Bound(p => p.DisplayName).Title("Product Name").Width(300);
        columns.Bound(p => p.RetailPrice).Format("{0:c}").Title("Retail Price").Width(100);
        columns.Bound(p => p.BarcodeDisplay).Title("Barcode(s)").Width(100);
        columns.Bound(p => p.SKU).Title("SKU").Width(100);
        columns.Command(command => command.Custom("VIEW DETAILS").SendDataKeys(true).Click("showDetails2")).Width(50);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>
            <div class="toolbar">
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                            <input type="text" class="form-control" id="searchbox" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </text>);
    })
                .Pageable()
                .Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model => model.Id(p => p.Id))
                    .Read(read => read.Action("Products_Read", "Proshop"))
                    .PageSize(15)
                    .ServerOperation(false)
                )
    )
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#searchbox").keyup(function () {

            var val = $("#searchbox").val();
            grid = $("#ProductGrid").data("kendoGrid");

            grid.dataSource.filter({
                logic: "or",
                filters: [
                    { field: "DisplayName", operator: "contains", value: val },
                    { field: "BarcodeDisplay", operator: "contains", value: val },
                    { field: "SKU", operator: "contains", value: val }
                ]
            })
        });
    });

    //View Details button event on Grid
    function showDetails2(e) {

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        id = dataItem.Id;
        alert(id);

        var url = '@Url.Action("Show_Info", new { id = "_Id" })';
        var path = url.replace("_Id", id);
        window.location.href = path;
    }

    @*function GetBarcodes(sku) {

        var result = null;
        $.ajax({
            url: '@Url.Action("GetBarcodes", "Proshop")?sku=' + sku,
            data: sku,
            type: 'GET',
            async: false,
            success: function (response) {
                result = response;
            },
        });
        return result;
    }*@

</script>

